{#
/**
 * @file
 * Template for the main page.
 *
 * TODO: For now, the only difference this and the parent page template in radix is the overwrite-ability of the embedded navbar.
 * TODO: This is still need work.
 */
#}
<div class="page">
  {% if page.navbar_top %}
    {% embed 'wpsprout/02-molecules/navigation/navbar/navbar.twig' with {
      container: container ?: 'fixed',
      color: color ?: 'light',
      container_classes: container_classes ?: false,
      collapse_button: true,
    } %}

      {% block branding %}
        {% if page.navbar_branding %}
          {{ page.navbar_branding }}
        {% endif %}
      {% endblock %}

      {% block top %}
        {{ page.navbar_top }}
      {% endblock %}

    {% endembed %}
  {% endif %}

  {% embed 'wpsprout/02-molecules/navigation/navbar/navbar.twig' with {
    container: container ?: 'fixed',
    color: color ?: 'dark',
    utilities: 'bg-primary',
  } %}

    {% block main %}
      {% if page.navbar_main %}
        {{ page.navbar_main }}
      {% endif %}
    {% endblock %}

  {% endembed %}

  {% if page.navbar_bottom %}
    {% embed 'wpsprout/02-molecules/navigation/navbar/navbar.twig' with {
      container: container ?: 'fixed',
      color: color ?: 'light',
      container_classes: container_classes ?: false,
    } %}

      {% block bottom %}
        {{ page.navbar_bottom }}
      {% endblock %}

    {% endembed %}
  {% endif %}

  <main class="pt-5 pb-5">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  {% if page.footer or page.footer_bottom %}
    <footer class="page__footer">
      <div class="container">
        {% if page.footer %}
          <div class="d-flex justify-content-md-between align-items-md-center">
            {{ page.footer }}
          </div>
        {% endif %}
        {% if page.footer_bottom %}
          <div class="footer-bottom">
            {{ page.footer_bottom }}
          </div>
        {% endif %}
      </div>
    </footer>
  {% endif %}
</div>
