// Event single post
// -----------------------------------------------------------------------------
.single-event {
  .page__content {
    .main-container {
      .layout__row--top {
        padding-top: 40px;
      }
      .layout__region--title-region {
        .layout__face {
          .eyebrow {
            color: #011f5b;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.5px;
            line-height: 24px;
          }
          .page-title {
            color: #011f5b;
            font-size: 48px;
            font-weight: 500;
            letter-spacing: 0.16px;
            line-height: 58px;
          }

          .mustache {
            color: #000;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 21px;
          }

          .field__item {
            a:not(.btn) {
              color: $black;
              font-size: rem-calc(14px);
              font-weight: 400;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .layout__mustache {
            @include media-breakpoint-down(md) {
              flex-direction: column;
              gap: 20px;
            }

            justify-content: space-between;
            margin-top: 1rem;
            .event-date,
            .event-time,
            .event-location {
              align-items: center;
              display: flex;
              gap: 1rem;
              white-space: nowrap;
              i {
                font-size: 22px;
              }
            }
            .event-registration-links {
              a:after {
                color: #fff;
                content: "\f35d";
                font-family: "FontAwesome";
                font-weight: 900;
                padding-left: 8px;
              }
            }
          }
        }
        .page-title {
          @include page-title;
        }
      }
      .field--body {
        h2 {
          margin-top: 2rem;
        }
      }
      .layout__row--middle {
        padding-top: 3rem;
        .field--field-image {
          @include media-breakpoint-down(md) {
            margin-bottom: 36px !important;
          }

          text-align: center;
          img {
            max-height: 380px;
          }
        }
        .field-container {
          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          margin: 0 auto;
          p &:not(.callout) {
            margin: 1.25rem 0;
            &:first-of-type {
              margin-top: 0;
            }
          }
          ul {
            padding-bottom: 1.25rem;
            padding-left: 1.5rem;
            li {
              padding: 0.3rem 0.8rem;
              ul {
                padding-bottom: 0;
              }
            }
          }
          blockquote {
            @include blockquote-copy;
            p {
              @include blockquote-copy;
            }
          }
          .field--field-pg-links,
          .field--field-pg-files {
            padding: 1rem 0;
            .field--field-pg-related-title {
              border-bottom: 1px solid $gray-500;
              margin-bottom: 1rem;
              padding-bottom: 0.5rem;
            }
            .field--field-pg-related-item {
              a {
                color: $primary;
                text-decoration: none;
                &:hover,
                &:focus {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .layout__region--sidebar-second {
          .sidebar-content {
            padding-top: 0.6rem;
            ul {
              padding-left: 0;
              li {
                list-style: none;
                a {
                  color: $black;
                  text-decoration: none;
                  &:hover,
                  &:focus {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
      .page--content-top {
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
      }
      .page--content-bottom {
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          padding: 0;
        }

        display: flex;
        margin: 0 auto;
        .page--content-left {
          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          margin-right: 1.5rem;
          padding-left: 0;
          width: 744px;
        }
        .page--content-right {
          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          border: 1px solid black;
          border-top: 0.5rem solid $primary;
          height: 100%;
          margin-bottom: 3rem;
          padding: 1.2rem 1.5rem;
          width: 360px;

          .generic-sidebar-menu {
            padding-left: 0;
            .main-nav-item {
              display: none;
              &.current-menu-ancestor,
              &.current-menu-parent,
              &.current_page_parent {
                display: flex;
              }
              .nav-title {
                a {
                  color: $black;
                  text-decoration: none;
                  &.sidebar-title {
                    &:hover,
                    &:focus {
                      border-bottom: 2px solid $black;
                      text-decoration: none;
                    }
                  }
                  &:hover,
                  &:focus {
                    text-decoration: underline;
                  }
                }
              }
              .nav-children-list {
                list-style: none;
                padding-left: 0;
                padding-top: 1rem;
                .nav-child {
                  padding: 0.5rem 0;
                  &.active {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          .event-info-title {
          }
          .event-info-content {
          }
          .event-date {
            margin-bottom: 2rem;
          }
        }
      }
      .page--content-related {
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
      }
    }
  }
}

.sidebar--container {
  border: 1px solid $brand-dark;
  border-top: 6px solid $brand-dark;
  padding: 1rem 1.5rem;

  h3 {
    color: #011f5b;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 0;
    text-transform: uppercase;
  }

  .label {
    color: #011f5b;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
    text-transform: uppercase;
  }
}
