.single-generic,
.landing {
  .page__content {
    .main-container {
      .layout__region--title-region {
        h1 {
          @include page-title;
          @include media-breakpoint-down(md) {
            padding-left: 0;
          }

          color: $brand-dark;
          //padding-bottom: rem-calc(44px);
          padding-top: rem-calc(44px);
        }
      }
      .layout__row--middle {
        padding-top: 3rem;
        .field--field-image {
          text-align: center;
          img {
            width: 100%;
          }
        }
        .field--field-pg-body {
          h2 {
            margin-top: 2rem;
          }
        }
        .field-container {
          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          margin: 0 auto;
          .field--field-pg-article {
            h2 {
              color: #011f5b;
              font-size: 32px;
              font-weight: 500;
              letter-spacing: 0;
              line-height: 42px;
            }

            h3 {
              color: #011f5b;
              font-size: 24px;
              font-weight: bold;
              letter-spacing: 0;
              line-height: 36px;
            }
            h4 {
              color: #011f5b;
              font-size: 20px;
              font-weight: bold;
              letter-spacing: 0;
              line-height: 30px;
            }
            p {
              margin: 1.25rem 0;
              &:first-of-type {
                margin-top: 0;
              }
            }
            ul {
              padding-bottom: 1.25rem;
              padding-left: 1.5rem;
              li {
                padding: 0.3rem 0.8rem;
                ul {
                  padding-bottom: 0;
                }
              }
            }
            blockquote {
              @include blockquote-copy;
              p {
                @include blockquote-copy;
              }
            }
          }
          .layout__region--sidebar-second {
            .sidebar-content {
              padding-top: 0.6rem;
              ul {
                padding-left: 0;
                li {
                  list-style: none;
                  a {
                    color: $black;
                    text-decoration: none;
                    &:hover,
                    &:focus {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
          .field--field-pg-links,
          .field--field-pg-files {
            padding: 1rem 0;
            .field--field-pg-related-title {
              border-bottom: 1px solid $gray-500;
              margin-bottom: 1rem;
              padding-bottom: 0.5rem;
            }
            .field--field-pg-related-item {
              a {
                color: $primary;
                text-decoration: none;
                &:hover,
                &:focus {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
      .page--content-top {
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
      }
      .page--content-bottom {
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          padding: 0;
        }

        display: flex;
        margin: 0 auto;
        .page--content-left {
          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          margin-right: 1.5rem;
          padding-left: 0;
          width: 744px;
          .field--field-pg-featured-image {
            @include media-breakpoint-down(sm) {
              @include full-bleed();

              height: 200px;
            }

            height: 390px;
            margin-bottom: 3.5rem;
            width: 744px;
            img {
              height: 100%;
              width: 100%;

              object-fit: cover;
            }
          }
        }
        .page--content-right {
          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          border: 1px solid black;
          border-top: 0.5rem solid $primary;
          height: 100%;
          margin-bottom: 3rem;
          padding: 1.2rem 1.5rem;
          width: 360px;

          .generic-sidebar-menu {
            padding-left: 0;
            .main-nav-item {
              display: none;
              &.current-menu-ancestor,
              &.current-menu-parent,
              &.current_page_parent {
                display: flex;
              }
              .nav-title {
                a {
                  color: $black;
                  text-decoration: none;
                  &.sidebar-title {
                    &:hover,
                    &:focus {
                      border-bottom: 2px solid $black;
                      text-decoration: none;
                    }
                  }
                  &:hover,
                  &:focus {
                    text-decoration: underline;
                  }
                }
              }
              .nav-children-list {
                list-style: none;
                padding-left: 0;
                padding-top: 1rem;
                .nav-child {
                  padding: 0.5rem 0;
                  &.active {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
      .page--content-related {
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
        .field--field-page-title h2 {
          font-weight: 500;
          text-align: center;
        }
      }
    }
  }
}
