// News post
// -----------------------------------------------------------------------------
.single-news {
  .page__content {
    .main-container {
      .layout__region--title-region {
        .layout__face {
          padding-bottom: 0;
          .field__item {
            a {
              color: $black;
              font-size: rem-calc(14px);
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }

          .eyebrow {
            color: #011f5b;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.5px;
            line-height: 24px;
          }

          .mustache {
            color: #000;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 21px;
            margin-top: 1rem;
            .field {
              display: inline;
            }
          }
        }

        h1 {
          @include page-title;

          color: #011f5b;
          font-size: 48px;
          font-weight: 500;
          letter-spacing: 0.16px;
          line-height: 58px;
        }
      }
      .layout__row--middle {
        .field--field-image {
          background-color: $white;
          text-align: center;
          img {
            width: 100%;
          }
        }
        .field--field-pg-body {
          h2 {
            margin-top: 2rem;
          }
        }
        .field-container {
          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          margin: 0 auto;
          p &:not(.callout) {
            margin: 1.25rem 0;
            &:first-of-type {
              margin-top: 0;
            }
          }
          ul {
            padding-bottom: 1.25rem;
            padding-left: 1.5rem;
            li {
              padding: 0.3rem 0.8rem;
              ul {
                padding-bottom: 0;
              }
            }
          }
          blockquote {
            @include blockquote-copy;
            p {
              @include blockquote-copy;
            }
          }
          .layout__region--sidebar-second {
            .sidebar-content {
              padding-top: 0.6rem;
              ul {
                padding-left: 0;
                li {
                  list-style: none;
                  a {
                    color: $black;
                    text-decoration: none;
                    &:hover,
                    &:focus {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .related-container {
        margin-top: 90px;

        .card-deck {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

.layout--card-grid {
  h2 {
    @include media-breakpoint-down(sm) {
      font-size: 32px;
      line-height: 40px;
    }

    color: #011f5b;
    font-size: 32px;
    font-weight: 500;
    margin: rem-calc(50px) 0;
  }
  .card {
    height: 100%;
  }
}

.field--field-image.bundle--type-news-post.view-mode--teaser {
  @include media-breakpoint-down(sm) {
    margin-top: 2rem;
  }
}

.field--field-featured-tag {
  background-color: $white;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 24px;
  padding: 10px 8px 10px 0;
  position: absolute;
  text-transform: uppercase;
}

.view-display-id-news_list {
  .view-rows > div:first-child {
    .card {
      padding-top: 0;

      .card-body {
        padding-top: 0;
      }
    }
  }
}
