.news-archive {
  .content-container {
    .container {
      .page--content-bottom {
        .page--content-left {
          a {
            color: $black;
            text-decoration: none;
            &:hover, &:focus {
              .post-title {
                text-decoration: underline;
              }
            }
          }
          .news-archive-post {
            display: flex;
            border-bottom: 1px solid $gray-500;
            margin-bottom: 1.75rem;
            padding-bottom: 1.75rem;
            @include media-breakpoint-down(sm) {
              flex-direction: column-reverse;
            }
            .news-archive-content {
              width: 100%;
              padding-right: 3.1rem;
              @include media-breakpoint-down(sm) {
                padding-right: 0;
                margin-top: 1.25rem;
              }
              h3 {

                margin-bottom: 0.6rem;
              }
              .date-posted {

                margin-bottom: 0.6rem;
                @include media-breakpoint-down(sm) {
                  margin-bottom: 1rem;
                  margin-top: 1.25rem;
                }
              }
              .field--field-post-excerpt {

                line-height: 1.6rem;
              }
            }
            .field--field-post-featured-image {
              height: 13rem;
              img {
                height: 100%;
                max-width: 17.5rem;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
