// Resource single post
// -----------------------------------------------------------------------------
.single-resource {
  .page__content {
    .main-container {
      .layout__region--title-region {
        .layout__face {
          .field__item {
            a {
              color: $black;
              font-size: rem-calc(14px);
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .page-title {
          @include page-title;

          color: #011f5b;
        }
      }
      .layout__row--middle {
        .field--body {
          h2 {
            margin-top: 2rem;
          }
        }
        .field--field-image {
          background-color: $primary;
          text-align: center;
          img {
            width: 100%;
          }
        }
        .field-container {
          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          margin: 0 auto;
          p &:not(.callout) {
            margin: 1.25rem 0;
            &:first-of-type {
              margin-top: 0;
            }
          }
          ul {
            padding-bottom: 1.25rem;
            padding-left: 1.5rem;
            li {
              padding: 0.3rem 0.8rem;
              ul {
                padding-bottom: 0;
              }
            }
          }
          blockquote {
            @include blockquote-copy;
            p {
              @include blockquote-copy;
            }
          }
          .field--field-pg-links,
          .field--field-pg-files {
            padding: 1rem 0;
            .field--field-pg-related-title {
              border-bottom: 1px solid $gray-500;
              margin-bottom: 1rem;
              padding-bottom: 0.5rem;
            }
            .field--field-pg-related-item {
              a {
                color: $primary;
                text-decoration: none;
                &:hover,
                &:focus {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .layout__region--sidebar-second {
          .sidebar-content {
            padding-top: 0.6rem;
            ul {
              padding-left: 0;
              li {
                list-style: none;
                a {
                  color: $black;
                  text-decoration: none;
                  &:hover,
                  &:focus {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
      .related-container {
        margin-top: 90px;
      }
    }
  }
}
