// Search results page
// -----------------------------------------------------------------------------

.search-container {
  .search-heading {
    margin: 2rem 0;
  }

  .results-row {
    padding-top: 3rem;
  }

  .card {
    @include hover-focus {
      .card__heading {
        text-decoration: underline;
      }
    }

    a {
      text-decoration: none;
    }

    .card__heading {
      @include card-heading;
    }

    .card-img-left {
      @include media-breakpoint-up(md) {
        padding-right: 0;
      }

      img {
        @include media-breakpoint-up(md) {
          padding-bottom: 1rem;
          padding-left: 1rem;
          padding-top: 1rem;
        }
      }
    }

    .card-body {
      @include media-breakpoint-down(md) {
        margin: 1rem;
      }

      color: $black;
    }

    .result-no-image {
      .card-title {
        @include media-breakpoint-up(md) {
          padding-left: 1rem;
        }
      }
      .field--body {
        @include media-breakpoint-up(md) {
          padding-left: 1rem;
        }
      }
    }
  }
}
