// Staff profile
// -----------------------------------------------------------------------------
.layout--profile {
  &.layout--standard {
    @include media-breakpoint-up(md) {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;

      .layout__row--middle,
      .layout__region--main {
        display: contents;
      }

      .field--field-image {
        grid-column: 1 / 4;
        grid-row: 1 / 3;

        img {
          border-radius: 1000px;
          width: 170px;

          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
      }

      .layout__row--top {
        grid-column: 4 / 12;
        grid-row: 1;
      }

      .field--body {
        grid-column: 4 / 12;
        grid-row: 2;
      }

      .related-container {
        grid-column: 1 / -1;
        grid-row: 4;
      }
    }
    @include media-breakpoint-up(lg) {
      .field--field-image {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
      }

      .layout__row--top {
        grid-column: 4 / 10;
        grid-row: 1;
      }

      .field--body {
        grid-column: 4 / 10;
        grid-row: 2;
      }
    }

    padding-top: 5rem;
  }
}
