@mixin text-size($size) {
  font-size: $size;
  font-size: rem-calc($size);
}

@mixin text-typography(
  $family: null,
  $size: null,
  $weight: null,
  $ls: null,
  $lh: null,
  $tt: null
) {
  @include text-size($size);

  font-family: $family;
  font-weight: $weight;
  letter-spacing: $ls;
  line-height: $lh;
  text-transform: $tt;
}

@mixin text-underline-crop($background) {
  text-shadow: 0.03em 0 $background, -0.03em 0 $background, 0 0.03em $background,
    0 -0.03em $background, 0.06em 0 $background, -0.06em 0 $background,
    0.09em 0 $background, -0.09em 0 $background, 0.12em 0 $background,
    -0.12em 0 $background, 0.15em 0 $background, -0.15em 0 $background;
}

@mixin text-underline($color-bg, $color-text) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
}

@mixin text-selection($selection) {
  &::selection {
    @include text-underline-crop($selection);

    background: $selection;
  }

  &::-moz-selection {
    @include text-underline-crop($selection);

    background: $selection;
  }
}

@mixin text-link-underline($background, $text, $selection) {
  @include text-underline-crop($background);
  @include text-underline($background, $text);
  @include text-selection($selection);

  color: $text;
  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}

@mixin text-snakeline($color: $link-color, $size: 1px) {
  background: linear-gradient(to right, $color 0, $color 98%);
  background-position-x: 0;
  background-position-y: 0;
  background-position: left 85%;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 0 $size;
  display: inline;
  padding-bottom: 5px;
  transition: background-size 0.3s linear;

  @include hover-focus {
    background-size: 100% $size;
    text-decoration: none;
  }
}

@mixin text-ellipsis($width: 100%, $display: inline-block) {
  display: $display;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
