{#
/**
 * @file
 * Template for a mustache component.
 */
#}
{% if content|render %}
  {# Defaults #}
  {% set wrapper = wrapper ?: 'div' %}
  {# Modifiers #}
  {% set modifiers = modifiers ?: [] %}
  {# Utilities #}
  {% set utilities = utilities ?: [] %}

  <{{ wrapper }}{{ bem('mustache', modifiers, '', utilities) }}>{{ content }}</{{ wrapper }}>
{% endif %}
