{% extends 'base.twig' %}

{% block content %}
  <div class="content-wrapper">
    {% if post.parent.slug == 'focus-areas' %}
      <article class="post-type-{{ post.post_type }} landing focus-areas-page" id="post-{{ post.ID }}">
    {% else %}
      <article class="post-type-{{ post.post_type }} landing" id="post-{{ post.ID }}">
    {% endif %}
          <section class="article-content">
            <div class="page page--content content-container">
              <div class="page__container container">

                <div class="block block--mainpagecontent">
									{% if post.thumbnail %}
                 <div class="layout layout--standard standard node node--type-landing-page node--view-mode-full">
                   <div class="layout__row layout__row--top row">
                      <div class="full-bleed layout__region layout__region--top-first">
                        <div class="field field--field-image bundle--type-landing-page view-mode--full">

                          <img src="{{ post.thumbnail.src('full') }}" class="full-bleed" alt="{{ post.thumbnail.alt }}">
                        </div>


                      </div>


                  {% else %}
                    <div class="layout layout--standard layout--no-media standard node node--type-landing-page node--view-mode-full">
                      <div class="layout__row layout__row--top row">
                      {% endif %}
                      <div class="col-12 layout__region layout__region--title-region text-center py-5">
												{% if post.meta('page_type') != 'default' %}
												<div class="eyebrow mb-3">
													{{ post.meta('page_type') }}
												</div>
												{% endif %}
                        <h1 class="layout__heading heading page-title">
                          <div class="field field--node-title bundle--type-landing-page">
                            {{ post.title }}
                          </div>
                        </h1>
												{% if post.terms %}
												<div class="mustache mt-4">

													{% if post.terms('resource_type') %}
													<div class="field field--resource-type">
														<div class="field__items">
															{% for term in post.terms('resource_type') %}
																 <span class="field__item">
																	{{ term.name }}
																 </span>
															{% endfor %}
														</div>
													</div>
													{% endif %}

													{% if post.terms('project_type') %}
													<div class="field field--project-type">
														<div class="field__items">
															{% for term in post.terms('project_type') %}
																 <span class="field__item">
																	{{ term.name }}
																 </span>
															{% endfor %}
														</div>
													</div>
													{% endif %}


												</div>
												{% endif %}
                      </div>
											{% if post.meta('page_overview') %}
                      <div class="col-12 layout__region layout__region--top-second text-center">
                        <div class="field field--body bundle--type-landing-page view-mode--full mt-3">
                          {{post.meta('page_overview')}}
                        </div>
                      </div>

										{% endif %}
										</div></div>
										</div>
                    <div class="layout__row layout__row--middle row">
                      <div class="col order-sm-first bs-region bs-region--main layout__region layout__region--main">
                        {{ post.content }}
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </section>
      </article>
  </div>

{% endblock %}
