<div class="band__region band__region--band-content">
  <div class="band__region band__region--band-content-inner">
    <div class="field field--dynamic-block-fieldparagraph-grid-nav bundle--type-menu-grid">
      <div class="card-container card-container--grid card-deck set-width">

      {% for post in related_programs %}
        <div class="card card--card-img-bg {% if not post.thumbnail %}card--card-no-media{% endif %} card--display-featured">
          <a href="{{ post.link }}" class="card-inner">
						{% if post.thumbnail %}
						<div class="card-img-bg card-img">
							<img src="{{ post.thumbnail.src('tile') }}" class="img-fluid" alt="{{ post.thumbnail.alt }}">
						{% else %}
						<div class="card-img-bg no-img">
						{% endif %}
					  <div class="card-body card-img-overlay">
              <div class="card-face">
                <div class="card-title">
                  <div class="card__eyebrow eyebrow">{{ post.type }}</div>
                  <h3 class="card__heading h4 heading">{{ post.title }}</h3>
                  <div class="card__mustache mustache">
                    {% for term in post.terms %}
                      <div class="field__item">
                      {{ term.name }}
                      </div>
                    {% endfor %}
                  </div>
							  </div>
              </div>
						</div>
          </a>
				</div>
      {% endfor %}

      </div>
    </div>
  </div>
</div>