<div class="band__region band__region--band-content">
	<div class="band__region band__region--band-content-inner">
		<div class="field field--dynamic-block-fieldparagraph-grid-nav bundle--type-menu-grid">
			<div class="card-container card-container--grid card-deck set-width">

				{% for item in Post(post.related_resources) %}
					<div class="card card--card-img-bg {% if not item.thumbnail %}card--card-no-media{% endif %} card--display-featured">
						<a href="{{ item.link }}" class="card-inner">
						  {% if item.thumbnail %}
								<div class="card-img-bg card-img">
									<img src="{{ item.thumbnail.src('tile') }}" class="img-fluid" alt="{{ item.thumbnail.alt }}">
							{% else %}
								<div class="card-img-top no-img">
							{% endif %}
							</div>
							<div class="card-body card-img-overlay">
								<div class="grid-item-content face">
									<div class="card__eyebrow eyebrow">{{ item.type }}</div>
										<h3 class="card__heading h4 heading">{{ item.title }}</h3>
										<div class="card__mustache mustache">
											{% for term in item.terms('resource-type') %}
												 <div class="field__item">
													{{ term.name }}
												 </div>
											{% endfor %}
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
