{#### Set variables ####}
{# Set some defaults. #}
{% set wrapper = wrapper ?: 'article' %}
{# Blockname #}
{% set blockname = blockname?: 'layout' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  'standard',
  post.event_featured_image ? 'has-media': 'no-media',
  post.post_type.slug,
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  post.post_status,
]) %}

{% extends 'base.twig' %}

{% block content %}

<{{ wrapper }} {{ bem(blockname, modifiers, '', utilities) }} id="post-{{ post.ID }}">
	<div class="full-bleed text-dark">
		<div class="container">
  <div class="layout__row layout__row--top full-bleed">
    <div class="col bs-region bs-region--title-region layout__region layout__region--title-region">
      <div class="layout__face container">
				<div class="layout__eyebrow eyebrow">
          <div class="field field--node-news-type bundle--type-event">
						<div class="field__items">
							{% for term in post.terms('event_type') %}
								 <div class="field__item">
									{{ term.name }}
								 </div>
							{% endfor %}
						</div>
          </div>
        </div>
				<h1 class="layout__heading heading page-title">
          <div class="col-lg-8 no-gutters field field--node-title bundle--type-news-post">
            {{ post.title }}
          </div>
        </h1>
        <div class="layout__mustache mustache d-flex">
					<div class="field field--node-news-type bundle--type-event">
						<div class="field__items">
							{% for term in post.terms('focus_area_type') %}
								 <div class="field__item">
									{{ term.name }}
								 </div>
							{% endfor %}
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="layout__row layout__row--middle row">
    <div class="col col-md-8 order-sm-first bs-region bs-region--main layout__region layout__region--main">
      {% if post.thumbnail %}
        <div class="field field--field-image bundle--type-event mb-6">
          <img src="{{ post.thumbnail.src('full') }}" class="img-fluid" alt="{{ post.thumbnail.alt }}">
        </div>
      {% endif %}
      <div class="field field--body bundle--type-event col-lg-10 offset-lg-1">
        {% if post.event_call_out_box %}
          <div class="field field--field-callout mb-6">
            <p class="callout">{{ post.meta('event_call_out_box') }}</p>
          </div>
        {% endif %}
        {{ post.meta('event_information') }}
      </div>
			{% if post.event_related_files or post.event_related_links %}
          <div class="field-container field--field-pg-related col-lg-10 offset-lg-1">
            {% if post.event_related_files %}
              <div class="field-container field--field-pg-files">
                <div class="field field--field-pg-related-title">Files</div>
                  {% for item in post.meta('event_related_files') %}
                    <div class="field field--field-pg-related-item file">
                      <a href="{{ TimberImage(item.event_file).src }}">
												{% if item.event_file_name %}
												{{ item.event_file_name }}
												{% else %}
												{{ item.event_file.filename }}
												{% endif %}
											</a>
                    </div>
                  {% endfor %}
              </div>
            {% endif %}
            {% if post.event_related_links %}
              <div class="field-container field--field-pg-links">
                <div class="field field--field-pg-related-title">Links</div>
                {% for item in post.meta('event_related_links') %}
                  <div class="field field--field-pg-related-item link">
										<a href="{{ item.event_link_url.url }}" target="_blank">
											{% if item.event_link_url.title %}
											{{ item.event_link_url.title }}
											{% else %}
											{{ item.event_link_url.url }}
											{% endif %}
										</a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            </div>
          {% endif %}
    </div>
    <div class="col-md-4 layout__region layout__region--sidebar-second">
			<div class="sidebar--container">
				<h3>Event Details</h3>
      <div class="event-date">

				<div class="event-info-title label">Date</div>
				<div class="event-info-content">
					{{post.event_date_start|date("F j, Y")}}
					{% if post.event_date_end %}
					{% if post.event_date_start|date("F j, Y") != post.event_date_end|date("F j, Y") %}
					&ndash; {{post.event_date_end|date("F j, Y")}}
					{% endif %}
					{% endif %}
				</div>
			</div>
			<div class="event-time mt-3">

				<div class="event-info-title label">Time</div>
				<div class="event-info-content">
					{{ post.event_date_start|date("g:i a") }}
					{% if post.event_date_end %}
					{% if post.event_date_start|date("g:i a") != post.event_date_end|date("g:i a") %}
					&ndash; {{ post.event_date_end|date("g:i a") }}
					{% endif %}
					{% endif %}
				</div>
			</div>
			{% if post.event_location.street_number %}
			<div class="event-location mt-3">

				<div class="event-info-title label">Location</div>
				<div class="event-info-content">{{ post.event_location.street_number }} {{ post.event_location.street_name_short }}<br />{{ post.event_location.city }}, {{ post.event_location.state_short }} {{ post.event_location.post_code }}</div>
			</div>
			{% endif %}
			{% if post.event_registration_links %}
			<div class="event-registration-links mt-4">
				<div class="event-info-content">
					{% for item in post.meta('event_registration_links') %}
					<div class="field__item">
						<a href="{{ item.event_registration_link.url }}" target="_blank" class="btn btn-primary">Register for Event</a>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}



		</div>


            </div>
          </div>
					<div class="related-container full-bleed bg-gray">
						<div class="container">
          <div class="layout__row layout__row--bottom row">
            <div class="col bs-region bs-region--bottom-second layout__region layout__region--bottom-second band--menu-grid">
              <div class="views-element-container">
                <div class="layout--card-grid view-events view-id-events view-display-id-events_upcoming_eva">
                  <h2>Upcoming Events</h2>
                  <div class="row">
                    <div class="col order-md-first view-rows">
                    <div class="band__region band__region--band-content band--menu-grid">
                      <div class="band__region band__region--band-content-inner">
                        <div class="field field--dynamic-block-fieldparagraph-grid-nav bundle--type-menu-grid">
                          <div class="card-container card-container--grid card-deck">
                            {% for post in related_events %}
                              <a href="{{post.link}}" class="card card-img-top">
                                {% if post.thumbnail %}
                                  <div class="card-img-top card-img">
                                    <img src="{{ post.thumbnail.src('tile') }}" class="img-fluid" alt="{{ post.thumbnail.alt }}">
                                  </div>
																			{% endif %}
                                <div class="card-body">
                                  <div class="card-face">
                                    <div class="card-title">
                                      <div class="grid-item-content-eyebrow eyebrow">{{ post.terms('event_type')|join('<br> ') }}</div>
                                      <h3 class="card-heading">{{ post.title }}</h3>
																			<div class="grid-item-content-mustache mustache">{{ post.event_date_start|date("F j, Y") }}</div>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
					</div>
				</div>
        </div>
      </div>
  </{{ wrapper }}>

{% endblock %}
