{#### Set variables ####}
{# Set some defaults. #}
{% set wrapper = wrapper ?: 'article' %}
{# Blockname #}
{# Blockname #}
{% set blockname = blockname?: 'layout' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
	{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  'standard',
  post.thumbnail ? 'has-media': 'no-media',
  post.post_type,
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  post.post_status,
]) %}

{% extends 'base.twig' %}

{% block content %}

<{{ wrapper }} {{ bem(blockname, modifiers, '', utilities) }} id="post-{{ post.ID }}">
  <div class="layout__row layout__row--top row no-gutters">
    <div class="col layout__region layout__region--title-region">
      <div class="layout__face">
				<div class="layout__eyebrow eyebrow">
          <div class="field field--profile-type">
						<div class="field__items">
							{% for term in post.terms('profile-type') %}
								 <div class="field__item">
									{{ term.name }}
								 </div>
							{% endfor %}
						</div>
          </div>
        </div>
        <h1 class="layout__heading heading page-title">
          <div class="field field--title">
            {{ post.title }}
          </div>
        </h1>
        <div class="layout__mustache mustache d-flex">
          <div class="field field--post-date">
						{{ post.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="layout__row layout__row--middle row">
    <div class="col-md-8 order-sm-first layout__region layout__region--main">
      {% if post.thumbnail %}
        <div class="field field--field-image bundle--type-news-post mb-6">
					<img src="{{ post.thumbnail.src('full') }}" class="img-fluid" alt="{{ post.thumbnail.alt }}">
        </div>
      {% endif %}
      <div class="field field--body bundle--type-news-post row">
        <div class="field-container field--field-pg-body col-md-12">
          {{ post.meta('body') }}
        </div>
      </div>
			{% if post.files or post.links %}
          <div class="field-container field--field-pg-related">
            {% if post.files %}
              <div class="field-container field--field-pg-files">
                <div class="field field--field-pg-related-title">Files</div>
                  {% for item in post.meta('files') %}
                    <div class="field field--field-pg-related-item file">
                      <a href="{{ TimberImage(item.file).src }}">
												{% if item.file_name %}
												{{ item.file_name }}
												{% else %}
												{{ item.file.filename }}
												{% endif %}
											</a>
                    </div>
                  {% endfor %}
              </div>
            {% endif %}
            {% if post.links %}
              <div class="field-container field--field-pg-links">
                <div class="field field--field-pg-related-title">Links</div>
                {% for item in post.meta('links') %}
                  <div class="field field--field-pg-related-item link">
                    <a href="{{ item.link.url }}" target="_blank">
											{% if item.link.title %}
											{{ item.link.title }}
											{% else %}
											{{ item.link.url }}
											{% endif %}
										</a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            </div>
          {% endif %}
    </div>


  </div>
	<div class="related-container full-bleed bg-gray">
		<div class="container">
  <div class="layout__row layout__row--bottom row">
    <div class="col col-md-12 layout__region layout__region--bottom-second band--menu-grid">
      <div class="views-element-container">
        <div class="layout--card-grid view-news view-id-news view-display-id-news_more">
          <h2>Related Profiles</h2>
            <div class="row">
              <div class="col order-md-first view-rows">
              <div class="band__region band__region--band-content">
                <div class="band__region band__region--band-content-inner">
                  <div class="field field--dynamic-block-fieldparagraph-grid-nav bundle--type-menu-grid">
                    <div class="card-container card-container--grid card-deck">
                      {% for post in related_profiles %}

                      {% if post.thumbnail %}
                      <div class="card card--card-img-bg">
                      {% else %}
                        <div class="card card--card-img-bg card--no-media">
                        {% endif %}
                        <a href="{{ post.link }}" class="card-inner">
                          {% if post.thumbnail %}
                            <div class="card-img-bg card-img">
                              <img src="{{ post.thumbnail.src('tile') }}" class="img-fluid" alt="{{ post.thumbnail.alt }}">
                            </div>
                          {% endif %}
                          {% if post.thumbnail %}
                          <div class="card-body card-img-overlay">
                          {% else %}
                            <div class="card-body">
                            {% endif %}
                            <div class="card-title">
                              <div class="card__eyebrow eyebrow">
                                <div class="field__items">
                                  {% for term in post.terms('profile-type') %}
                                     <div class="field__item">
                                      {{ term.name }}
                                     </div>
                                  {% endfor %}
                                </div>
                              </div>
                              <h3 class="card__heading h4 heading">{{ post.title }}</h3>
                              <div class="card__mustache mustache">{{ post.news_excerpt }}</div>
                            </div>
                          </div>
                        </a>
                      </div>

                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              </div>
      </div>
    </div>
  </div>
</div>
</div>
</{{ wrapper }}>
{% endblock %}
