{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <section class="article-content">
          <div class="archive archive__container archive--news">
            <div class="archive__region left col-md-6">
              <img src="{{ Image(post.meta('news_background_image')).src }}" />
            </div>
            <div class="archive__region right col-md-6">
              <div class="name h3">
                {{ post.news_title }}
              </div>
              <div class="title">
                {{ post.news_author }}, {{ post.news_date }}
              </div>
              <div class="body">
                {{ post.meta('news_content') }}
              </div>
            </div>
          </div>
        </section>
    </article>
</div>
{% endblock %}
