{#### Set variables ####}
{# Set some defaults. #}
{% set wrapper = wrapper ?: 'article' %}
{# Blockname #}
{% set blockname = blockname?: 'layout' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  'standard',
  post.generic_featured_image ? 'has-media': 'no-media',
  post.post_type,
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  post.post_status,
]) %}

{% extends 'base.twig' %}

{% block content %}

<{{ wrapper }} {{ bem(blockname, modifiers, '', utilities) }} id="post-{{ post.ID }}">
  <div class="layout__row layout__row--top row full-bleed">
    <div class="col layout__region layout__region--title-region">
      <h1 class="layout__heading heading page-title container">
        <div class="field field--node-title bundle--type-page">
          {{ post.title }}
        </div>
      </h1>
    </div>
  </div>
  <div class="layout__row layout__row--middle row">
    <div class="col-md-8 order-sm-first layout__region layout__region--main">
      {% if post.thumbnail %}
        <div class="field field--field-image bundle--type-page mb-6">
          <img src="{{ post.thumbnail.src('full') }}" class="img-fluid" alt="{{ post.thumbnail.alt }}">
        </div>
      {% endif %}
      <div class="field field--body bundle--type-page row">
        <div class="field-container field--field-pg-body col-lg-10">
          {% if post.generic_call_out_box %}
            <div class="field field--field-pg-callout">
              <p class="callout">{{ post.meta('generic_call_out_box') }}</p>
            </div>
          {% endif %}
          <div class="field field--field-pg-article">
            <div>{{ post.meta('generic_article') }}</div>
          </div>
          {% if post.generic_related_files or post.generic_related_links %}
          <div class="field-container field--field-pg-related">
            {% if post.generic_related_files %}
              <div class="field-container field--field-pg-files">
                <div class="field field--field-pg-related-title">Files</div>
                  {% for item in post.meta('generic_related_files') %}
                    <div class="field field--field-pg-related-item file">
                      <a href="{{ TimberImage(item.generic_file).src }}">
												{% if item.generic_file_name %}
												{{ item.generic_file_name }}
												{% else %}
												{{ item.generic_file.filename }}
												{% endif %}
											</a>
                    </div>
                  {% endfor %}
              </div>
            {% endif %}
            {% if post.generic_related_links %}
              <div class="field-container field--field-pg-links">
                <div class="field field--field-pg-related-title">Links</div>
                {% for item in post.meta('generic_related_links') %}
                  <div class="field field--field-pg-related-item link">
                    <a href="{{ item.generic_link_url.url }}" target="_blank">
											{% if item.generic_link_url.title %}
											{{ item.generic_link_url.title }}
											{% else %}
											{{ item.generic_link_url.url }}
											{% endif %}
										</a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            </div>
          {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-4 bs-region bs-region--sidebar-second layout__region layout__region--sidebar-second">
				{% if primary_menu.items %}
        <div class="field field--field-tags field--dynamic-block-fieldnode-subnav bundle--type-page">
          <div class="block">
            <ul class="nav navbar-nav justify-content-between">
              {% for item in primary_menu.items %}
                <li class="main-nav-item {{ item.classes|join(' ') }}">
                  <div class="main-nav-children-container">
                    <h2>{{ item.title }}</h2>
                    {% if item.children %}
                      <ul class="nav-children-list">
                        {% for child in item.children %}
                          <li class="nav-item">
                            <a href="{{ child.link }}" class="nav-link{{ child.current ? ' is-active' : '' }}">
                              <span>{{ child.title }}</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
				{% endif %}
      </div>
			</div>
      {% if post.related_content %}
			<div class="full-bleed bg-gray text-dark py-5">
				<div class="container">
        <div class="page--content-related">
          <div class="field field--field-page-title mb-5">
            <h2>Related Content</h2>
          </div>
          <div class="band__region band__region--band-content band--menu-grid">
            <div class="band__region band__region--band-content-inner">
              <div class="field field--dynamic-block-fieldparagraph-grid-nav bundle--type-menu-grid">
                <div class="card-container card-container--grid card-deck set-width">
                  {% for item in Post(post.related_content) %}
                     <div class="card card--card-img-bg card--display-featured">
                       <a href="{{item.link}}" class="card-inner">
                        {% if item.thumbnail %}
                          <div class="card-img-bg card-img">
                            <img src="{{ item.thumbnail.src('tile') }}" class="img-fluid" alt="{{ item.thumbnail.alt }}">
                        {% else %}
                          <div class="card-img-top no-img">
                        {% endif %}
                         </div>
                         <div class="card-body card-img-overlay">
                           <div class="grid-item-content face">
                             <div class="card__eyebrow eyebrow">{{ item.type }}</div>
                             <h3 class="card__heading h4 heading">{{ item.title }}</h3>
                             <div class="card__mustache mustache">
                                {% for term in item.terms() %}
                                  <div class="field__item">
                                    {{ term.name }}
                                  </div>
                                {% endfor %}
                             </div>
                           </div>
                         </div>
                       </a>
                     </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
    </div>
  </div>
</{{ wrapper }}>
{% endblock %}
