{#### Set variables ####}
{# Set some defaults. #}
{% set wrapper = wrapper ?: 'article' %}
{# Blockname #}
{% set blockname = blockname?: 'layout' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  'standard',
  post.listing_page_featured_image ? 'has-media': 'no-media',
  post.post_type,
]) %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{% set utilities = utilities|merge([
  post.post_status,
]) %}

{% extends 'base.twig' %}

{% block content %}

<{{ wrapper }} {{ bem(blockname, modifiers, '', utilities) }} id="post-{{ post.ID }}">
<div class="full-bleed bg-gray py-5">
	<div class="container">
  <div class="layout__row layout__row--top row">
    <div class="col-12 bs-region bs-region--title-region layout__region layout__region--title-region">
      <h1 class="layout__heading heading page-title">
        <div class="field field--node-title">
          {{ post.title }}
        </div>
      </h1>
    </div>
  </div>

  <div class="layout__row layout__row--middle row">
    <div class="col-12 order-sm-first bs-region bs-region--main layout__region layout__region--main">

      <div class="field field--body">
        <div class="field-container field--field-pg-body">
					<div class="overview mt-4">{{ post.meta('overview') }}</div>
          <div class="field field--field-pg-article">
            <div>{{ post.meta('listing_page_view') }}</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</{{ wrapper }}>
{% endblock %}
