{#
/**
 * @file
 * Theme override for views to display rows in a grid.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapping element.
 * - title: The title of this group of rows.
 * - view: The view object.
 * - rows: The rendered view results.
 * - options: The view plugin style options.
 *   - row_class_default: A flag indicating whether default classes should be
 *     used on rows.
 *   - col_class_default: A flag indicating whether default classes should be
 *     used on columns.
 * - items: A list of grid items. Each item contains a list of rows or columns.
 *   The order in what comes first (row or column) depends on which alignment
 *   type is chosen (horizontal or vertical).
 *   - attributes: HTML attributes for each row or column.
 *   - content: A list of columns or rows. Each row or column contains:
 *     - attributes: HTML attributes for each row or column.
 *     - content: The row or column contents.
 *
 * @see template_preprocess_views_view_grid()
 */
#}
{% set columns = options.columns %}
{% set set_width = options.automatic_width == false ? true : false %}
{% set row_classes = options.row_class_custom %}
{% set title_wrapper = title_wrapper ?: 'h2' %}

{% if title %}
  {% include 'wpsprout/01-atoms/text/heading/heading.twig' with {
    content: title,
    wrapper: title_wrapper,
    attributes: title_attributes,
    blockname: blockname,
    modifiers: title_modifiers,
    utilities: title_utilities,
    display_class: title_display ? title_display,
  } only %}
{% endif %}
{% include 'wpsprout/03-organisms/card/card-container.twig' with {
  cards: rows,
  container_type: container_type,
  columns: columns,
  set_width: set_width,
} %}
