{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
  utilities ? utilities|join(' '),
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
{% set sidebar = exposed or attachment_after ? true : false %}
{% set header_classes = header_classes ?: [
  'col',
  'view-header',
] %}
{% set exposed_classes = exposed_classes ?: [
  'col-lg-4',
  'view-exposed-form',
] %}
{% set exposed_inner_classes = exposed_inner_classes ?: [
  'view-exposed-form--inner',
] %}
{% set attachment_before_classes = attachment_before_classes ?: [
  'col',
  'order-lg-first',
  'view-attachment-before',
] %}
{% set rows_classes = rows_classes ?: [
  'col',
  'order-lg-first',
  'view-rows',
] %}
{% set attachment_after_classes = attachment_after_classes ?: [
  'col',
  'order-lg-last',
  'view-attachment-after',
] %}
{% set pager_classes = pager_classes ?: [
  'view-pager',
] %}
{% set footer_classes = footer_classes ?: [
  'col',
  'view-footer',
] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% block header %}
    {% if header %}
      <div class="row">
        <div {{ create_attribute({'class': header_classes}) }}>
          {{ header }}
        </div>
      </div>
    {% endif %}
  {% endblock %}

  {% block content %}
    <div class="row">
      {% block exposed %}
        {% if exposed %}
          <div {{ create_attribute({'class': exposed_classes}) }}>
            <div {{ create_attribute({'class': exposed_inner_classes}) }}>
              {{ exposed }}
            </div>
          </div>
        {% endif %}
      {% endblock %}

      {% block attachment_before %}
        {% if attachment_before %}
          <div {{ create_attribute({'class': attachment_before_classes}) }}>
            {{ attachment_before }}
          </div>
        {% endif %}
      {% endblock %}

      {% block rows %}
        {% if rows %}
          <div {{ create_attribute({'class': rows_classes}) }}>
            {{ rows }}
            {% if pager %}
                <div {{ create_attribute({'class': pager_classes}) }}>
                  {{ pager }}
                </div>
            {% endif %}
          </div>
        {% elseif empty %}
          <div {{ create_attribute({'class': rows_classes}) }}>
            {{ empty }}
          </div>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}

  {% block attachment_after %}
    {% if attachment_after %}
      <div {{ create_attribute({'class': attachment_after_classes}) }}>
        {{ attachment_after }}
      </div>
    {% endif %}
  {% endblock %}

  {% block more %}
    {% if more %}
      {{ more }}
    {% endif %}
  {% endblock %}

  {% block footer %}
    {% if footer %}
      <div class="row">
        <div {{ create_attribute({'class': footer_classes}) }}>
          {{ footer }}
        </div>
      </div>
    {% endif %}
  {% endblock %}

  {% block feed_icon %}
    {% if feed_icons %}
      {{ feed_icons }}
    {% endif %}
  {% endblock %}
</div>
