// Custom styles for the heading components.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: https://zeroheight.com/0a635880c/p/26a36f-button
// Bootstrap Doc: https://getbootstrap.com/docs/4.1/content/typography/#headings
// -----------------------------------------------------------------------------


h1 {
  @include page-title;
}

h2 {
  @include primary-heading;
}

h3 {
  @include secondary-heading;
}

h4 {
  @include tertiary-heading;
}

h5 {
  @include quaternary-heading;
}

h6 {
  @include quinary-heading;
}
