{#
/**
 * @file
 * Template for a heading component.
 *
 * Available variables:
 * - content: The renderable array for this component.
 * - wrapper: The HTML element to use to wrap this component.
 * - display_class: 1-5. @see https://getbootstrap.com/docs/4.0/content/typography/#display-headings
 * - h_class: 1-6. @see https://getbootstrap.com/docs/4.0/content/typography/#headings
 * - utilities: Optional classes to add to the wrapper.@see https://getbootstrap.com/docs/4.0/utilities/text/
 * - page_title: true or false.
 */
#}
{% if field.heading %}
  {#### Set variables ####}
  {# Defaults #}
  {% set wrapper = wrapper ?: 'h2' %}
  {% set wrapper = page_title ? 'h1' : wrapper %}
  {# {% set attributes = attributes ?: create_attribute() %} #}
  {# Modifiers #}
  {% set modifiers = modifiers ?: [] %}
  {# Blockname #}
  {% set blockname = blockname ?: [] %}
  {# Utilities #}
  {% set utilities = utilities ?: [] %}
  {% set utilities = utilities|merge([
    'heading',
    page_title ? 'page-title',
    display_class ? 'display-' ~ display_class,
    h_class ? 'h' ~ h_class,
  ]) %}
  {# TODO: keep or ditch the secondary stuff? #}
  {% set secondary_wrapper = secondary_wrapper ?: 'small' %}
  {% set secondary_classes = [
    secondary_utilities ? secondary_utilities : 'text-muted',
  ] %}

  {#### Build markup #####}
  <{{ wrapper }} {{ bem('heading', modifiers, blockname, utilities) }}>
    {{ field.heading }}
  </{{ wrapper }}>
{% endif %}
