.full-bleed {
  @include full-bleed;
}

.bg-gray {
  background-color: #f2f4f7;
}

.rtl {
  direction: rtl;
}

.no-gutters {
  //no-gutters will remove margins, but not padding. Janky temp fix:
  padding-left: 0;
  padding-right: 0;
}
