/*
Originally copied from wp-pagenavi plugin directory

Documentation + customization instructions:
http://wordpress.org/extend/plugins/wp-pagenavi/

Additional helpful article:
https://www.isitwp.com/styling-wp-pagenavi-styling/
*/

.pagination {
  justify-content: center;
}

.wp-pagenavi {
  padding-top: 3rem;
  padding-bottom: 3rem;
  clear: both;
  color: $brand-dark;

  a,
  span {
    border: none;
		color: $brand-dark;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    padding: 3px 5px;
    margin: 8px;
  }

  a:hover {
    text-decoration: underline;
  }

  span.current {
    box-sizing: content-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 36px;
    line-height: 24px;
    border-radius: 0;
    background-color: $brand-dark;
    color: $white;
    text-align: center;
    margin: 0;
  }

  .extend {font-size: 20px;}

  .previouspostslink,
  .nextpostslink,
  .first,
  .last {
    font-size: 0;
    &:before {
      content: "";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 14px;
    }
  }

  .previouspostslink:before {
    content: "\F053";
  }

  .nextpostslink:before {
    content: "\F054";
  }

  .first:before {
    content: "\F100";
    font-size: 16px;
  }

  .last:before {
    content: "\F101";
    font-size: 16px;
  }
}

.visually-hidden.focusable:active, .visually-hidden.focusable:focus {
	position: static !important;
	overflow: visible;
	clip: auto;
	width: auto;
	height: auto;
}
