#wpfront-scroll-top-container {
	width: 72px;
	height: 72px;
	background: $green;
	border-radius: 999px;
	box-shadow: 0 2px 10px rgba($black, .5);
	transition: all 0.3s ease-in-out;

	&::before {
		content: "\f062";
		color: $white;
		font-family: "FontAwesome";
    font-size: 2.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
		height: 100%;
		width: 100%;
	}

	img {
		display: none;
	}
}