.searchandfilter {
  [data-sf-field-input-type="select"] {
    label {
      position: relative;
      width: 100%;
    }
  }

  h4 {
    color: #011f5b;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  select.sf-input-select {
    @extend .form-control;
    @extend .custom-select;
    @include media-breakpoint-down(md) {
      width: 100%;
    }

    background-image: none;
    min-width: auto;
    width: 100%;
  }
}
//Styling for filter on listing pages:
.layout--listing_page .searchandfilter {
  li,
  label,
  select {
    @include media-breakpoint-up(lg) {
      max-width: 25vw;
    }
    @include media-breakpoint-up(xl) {
      max-width: 25vw;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 20vw;
    }

    width: 100%;
  }
  li {
    padding-right: 0 !important;
  }
  select {
    border: 1px solid #aeaeae;
    color: #333;
    font-weight: 300;
  }
  li > label {
    position: relative;
  }
}

.sf-input-checkbox {
  appearance: none;
  border: 2px solid $dark;
  border-radius: 3px;
  height: 22px;
  min-width: 22px;
  position: relative;
}


//Makeshift way to target checked inputs:
.sf-option-active .sf-input-checkbox {
  background-color: $dark;
  &::after {
    @include media-breakpoint-down(md) {
      top: -1px;
    }

    color: $white;
    content: "\f00c";
    font-family: "FontAwesome";
    position: absolute;
    right: 1px;
    top: -3px;
  }
}

.sf-label-checkbox {
  color: $dark;
  max-width: 235px;
}


[class^="sf-field-taxonomy"] {
  position: relative;
  &::after {
    color: $primary;
    content: "\f078";
    font-family: "FontAwesome";
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    right: 12px;
    top: 58px;
  }
}

[class^="sf-field"] {
  input[type="text"] {
    border: 1px solid #aeaeae;
    border-radius: 3px;
    height: 38px;
    padding: 0.5rem 1.6rem 0.5rem 0.6rem;
    width: 100%;
  }
}

.search-filter-results {
  .no-results {
    font-size: 24px;
    font-weight: 600;
    margin: 3rem 0;
  }
}


.filter--container {
  background: $white;
  border: 1px solid #c3c3c3;
  border-top: 6px solid #011f5b;
  padding: 1rem 1.5rem;

  h3 {
    color: #011f5b;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 0;
    text-transform: uppercase;
  }

  .label {
    color: #011f5b;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
    text-transform: uppercase;
  }
}
