button#sftExt-frontend-button {
	background-color: #bf242a;
	box-shadow: 0 0 6px rgba($black, 0);
	transition: all 0.3s ease-in-out;

	@include hover-focus {
		background-color: #92171c;
		box-shadow: 0 0 6px rgba($black, .5);
	}
}