// Custom sass functions that should be loaded first.
//
// -----------------------------------------------------------------------------

@function rem-calc($size) {
  $rem-size: $size / 16px;
  @return #{$rem-size}rem;
}

@function map-get-or-key($map, $key) {
  @if map-has-key($map, $key) or map-has-key($map, -$key) {
    @if $key != "auto" and type-of($key) == "number" and $key < 0 {
      @return 0 - map-get($map, -$key);
    } @else {
      @return map-get($map, $key);
    }
  } @else if type-of($key) == "string" {
    @return unquote($key);
  } @else {
    @return $key;
  }
}

@function bsize($key) {
  @return map-get-or-key($spacers, $key);
}

@function tint-color($color, $level) {
  @return mix(white, $color, $level * 8%);
}

@function shade-color($color, $level) {
  @return mix(black, $color, $level * 8%);
}
