// Custom style for the card component.
// -----------------------------------------------------------------------------
// TODO: maybe this would be better than the w-100 breaks?
.card-deck.set-width {
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include mx(0);

  display: grid;
  grid-template-columns: 1fr;

  column-gap: 24px;
  row-gap: $grid-gutter-width / 2;

  &.grid-1 {
    grid-template-columns: 1fr;
  }

  .card {
    margin-left: 0;
    margin-right: 0;
  }
}

.card {
  border: 0;
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
  &:not(.card--no-link) {
    @include hover-focus {
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.35);
      .card-heading {
        text-decoration: underline;
      }
    }

    transition: box-shadow .3s ease-in-out;
  }

  .card-inner {
    @include py(3);
    @include hover-focus {
      .card__heading {
        text-decoration: underline !important;
      }
    }

    height: 100%;
    text-decoration: none !important;
  }

  .card-img {
    background: $brand-dark;
    padding: 0;

    &.card-img-top {
      margin-top: -1rem;
    }
  }

  .card-body {
    padding: 1rem;

    .card-heading {
      @include card-heading;

      color: $white;
      margin-bottom: 0;
      margin-top: 0;
    }

    .card-excerpt {
      color: $black;
      margin-top: 1rem;
    }

    .card__eyebrow {
      @include media-breakpoint-down(md) {
        padding-top: 12px;
      }

      font-size: 16px;
    }
  }

  .card-footer {
    background-color: transparent;
    border: none;
    color: $black;
    padding: 1rem;
    padding-top: 0;
    .field__item {
      color: $primary;
    }
    //Creates visual lines that separate body/footer:
    .field__item:first-of-type {
      &::before {
        background: $primary;
        content: "";
        display: block;
        height: 1px;
        margin-bottom: 6px;
        width: 100%;
      }
    }
  }

  &.card--card-img-bg {
    @include media-breakpoint-only(md) {
      min-height: 247px;
    }
    @include media-breakpoint-only(lg) {
      min-height: 193px;
    }
    @include media-breakpoint-only(xl) {
      min-height: 233px;
    }

    border: 0;
    height: 200px;
    overflow: hidden;
    .card-inner {
      @include py(0);
      @include hover-focus {
        background: #002750;
        .field--field-image {
          &:before {
            box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 1000px inset;
          }
        }
      }

      background: $brand-dark;
    }
    .field--field-image {
      &:before {
        bottom: 0;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 1000px inset;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: box-shadow 0.3s ease-in-out;
      }
    }

    .card-img-overlay {
      background: rgba($black, .35);
      transition: background .3s ease-in-out;

      &:hover {
        background: rgba($black, .75);
      }
    }

    .card-body {
      & > .face,
      & > .card-title {
        align-items: flex-start;
        display: flex;
        height: 100%;
        margin-bottom: 0;

        flex-flow: row wrap;

        .eyebrow {
          flex: 0 1 auto;
        }

        .heading {
          flex: 0 0 100%;
        }

        .mustache {
          flex: 0 0 100%;
          margin-top: auto;
        }
      }

      .field__item {
        display: inline;

        & + .field__item {
          &::before {
            content: "/";
            margin: 0 .25rem;
          }
        }
      }
    }

    .card__eyebrow {
      @include card-eyebrow;

      border: none;
      color: $blue;
      display: inline-block;
      margin-bottom: 1rem;
      padding: .5rem .75rem;
    }

    .card__heading {
      @include card-heading;

      color: $white;
      margin-top: 0;
    }

    .card__mustache {
      @include card-mustache;

      color: $white;
    }

    &.card--no-media {
      @include hover-focus {
        background-color: darken(#002750, 10%);

        .card__eyebrow {
          text-decoration: none;
        }

        .card__heading {
          text-decoration: underline;
        }

        .card__mustache {
          text-decoration: none;
        }
      }

      background-color: #002750;
      transition: background-color 0.3s ease-in-out;

      .card-body {
        & > .face,
        & > .card-title {
          align-items: flex-start;
          display: flex;
          height: 100%;
          margin-bottom: 0;

          flex-flow: row wrap;

          .eyebrow {
            flex: 0 1 auto;
          }

          .heading {
            flex: 0 0 100%;
          }

          .mustache {
            flex: 0 0 100%;
            margin-top: auto;
          }
        }
      }

      .card__eyebrow {
        @include card-eyebrow;

        border: none;
        color: $blue;
        display: inline-block;
        margin-bottom: 1rem;
        padding: .5rem .75rem;
      }

      .card__heading {
        @include card-heading;

        color: $white;
        margin-top: 0;
      }

      .card__mustache {
        @include card-mustache;

        color: $white;
      }
    }
  }

  &.card--display-teaser,
  &.node--type-news-post {
    @include py(0);

    a.card-inner {
      text-decoration: none;
    }

    .card-img {
      padding: 1rem;
    }

    .card-body {
      padding-left: 1rem;
      padding-right: 1rem;

      .heading {
        color: #000;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 32px;
        margin-top: 0;

        a {
          color: $primary;
          &:focus,
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .eyebrow {
        @include mb(2);

        background-color: $white;
        font-weight: 600;
      }

      .mustache {
        color: #000;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 0.25px;
        line-height: 24px;
        text-transform: uppercase;
      }
    }
  }

  &.card--display-teaser {
    .card-img {
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }

    .card-body {
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }

    .snippet {
      color: $black;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
    }

    .mustache {
      font-size: 16px;
      font-weight: 400 !important;
      letter-spacing: 0;
      letter-spacing: normal !important;
      line-height: 24px;
      text-transform: none !important;
    }

    .heading {
      border-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  &.card--display-featured {
    .card-heading {
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
    .card-img {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        max-width: none;
        padding-bottom: 0;
        width: 100%;

        object-fit: cover;
      }
    }
  }

  &.card--signpost {
    .card-body {
      padding-bottom: rem-calc(24px);
    }
  }

  &.card--card-img-top {
    @include hover-focus {
      box-shadow: none;

      &:not(.card--no-link) .card-heading {
        text-decoration: underline;
      }
    }

    background: transparent;

    .card-body {
      padding-left: 0;
      padding-right: 0;
    }
    .eyebrow {
      margin-bottom: 1rem;

      .field__item {
        display: inline;
        text-transform: uppercase;

        & + .field__item {
          &::before {
            content: "/";
            margin: 0 .25rem;
          }
        }
      }
    }

    a {
      .heading,
      .mustache {
        color: $black !important;
      }

      .mustache p {
        font-weight: bold;
      }
    }

    .card-img,
    .card-img img {
      height: auto;
    }

    &.location-type {
      .heading {
        @include mb(2);

        font-weight: 600;
      }
    }
  }

  &.card-img-right {
    .card-inner {
      padding-bottom: 0;
      padding-top: 0;
    }

    .card-face {
      padding-bottom: 1rem;
      padding-top: 1rem;

      .card-heading {
        color: $black;
      }
    }

    .card-img {
      height: 100%;
      padding: 0;

      img {
        height: 100%;
        width: 100%;

        object-fit: cover;
      }
    }
  }
}
