.wpcf7 {
  .wpcf7-form {
    width: 100%;
    margin: 0;

    input,
    label,
    textarea {
      width: 100%;
    }

    label {
      color: $body-color;

      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
    }

    input, textarea {
      border: 2px solid $input-border-color !important;

    }

    input[type="submit"] {
      border-color: $blue !important;
    }

    .wpcf7-submit {
      @extend .button, .btn, .btn-primary;
      @include media-breakpoint-up(md) {
        width: 220px;
      }
    }
  }
}

.grecaptcha-badge { visibility: hidden; }
