{% extends "base.twig" %}

{% block content %}
	<div class="error-content container">
		<div class="error-message">
			Sorry, we couldn't find what you're looking for.
		</div>
	</div>
{% endblock %}
