{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content') %}
{% set main_content_modifiers = [] %}

{% block html_head_container %}
	{% include '@layouts/_html-header.twig' %}

	{% block head %}
	{% endblock %}
</head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
	{{ function('wp_body_open') }}
	<a class="skip-link screen-reader-text visually-hidden" href="#main-content">{{ _e( 'Skip to content') }}</a>
	<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div class="page">
			{% block page_header %}
				{% include "@layouts/page-header/page-header.twig" %}
			{% endblock %}

      <div {{ bem(main_base_class, main_modifiers, main_blockname) }}>
        <a id="main-content" tabindex="-1"></a>
			  <main {{ bem(main_content_base_class, main_content_modifiers, main_content_blockname) }}>
				  <div class="page__content">
            <div class="main-container">
              <div class="page__content">
                <div class="container">
                  <div class="block block--mainpagecontent">
                    {% if fn('is_front_page') %}<h1 class="sr-only">{{site.name}}</h1>{% endif %}
                    {% block content %}
										{% endblock %}
									</div>
								</div>
							</div>
						</div>
					</div>
        </main>
      </div>

			{% block footer %}
        {% include '@layouts/page-footer/page-footer.twig' %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
