$brand-blue: #043c76;
$brand-indigo: #6610f2;
$brand-purple: #6f42c1;
$brand-pink: #d63384;
$brand-red: #dc3545;
$brand-orange: #fd7e14;
$brand-yellow: #ffc107;
$brand-green: #b1bd2e;
$brand-teal: #80cac8;
$brand-cyan: #0dcaf0;
$white: #fff;
$black: #000;
$brand-blue-100: tint-color($brand-blue, 8);
$brand-blue-200: tint-color($brand-blue, 6);
$brand-blue-300: tint-color($brand-blue, 4);
$brand-blue-400: tint-color($brand-blue, 2);
$brand-blue-500: $brand-blue;
$brand-blue-600: shade-color($brand-blue, 2);
$brand-blue-700: shade-color($brand-blue, 4);
$brand-blue-800: shade-color($brand-blue, 6);
$brand-blue-900: shade-color($brand-blue, 8);
$brand-indigo-100: tint-color($brand-indigo, 8);
$brand-indigo-200: tint-color($brand-indigo, 6);
$brand-indigo-300: tint-color($brand-indigo, 4);
$brand-indigo-400: tint-color($brand-indigo, 2);
$brand-indigo-500: $brand-indigo;
$brand-indigo-600: shade-color($brand-indigo, 2);
$brand-indigo-700: shade-color($brand-indigo, 4);
$brand-indigo-800: shade-color($brand-indigo, 6);
$brand-indigo-900: shade-color($brand-indigo, 8);
$brand-purple-100: tint-color($brand-purple, 8);
$brand-purple-200: tint-color($brand-purple, 6);
$brand-purple-300: tint-color($brand-purple, 4);
$brand-purple-400: tint-color($brand-purple, 2);
$brand-purple-500: $brand-purple;
$brand-purple-600: shade-color($brand-purple, 2);
$brand-purple-700: shade-color($brand-purple, 4);
$brand-purple-800: shade-color($brand-purple, 6);
$brand-purple-900: shade-color($brand-purple, 8);
$brand-pink-100: tint-color($brand-pink, 8);
$brand-pink-200: tint-color($brand-pink, 6);
$brand-pink-300: tint-color($brand-pink, 4);
$brand-pink-400: tint-color($brand-pink, 2);
$brand-pink-500: $brand-pink;
$brand-pink-600: shade-color($brand-pink, 2);
$brand-pink-700: shade-color($brand-pink, 4);
$brand-pink-800: shade-color($brand-pink, 6);
$brand-pink-900: shade-color($brand-pink, 8);
$brand-red-100: tint-color($brand-red, 8);
$brand-red-200: tint-color($brand-red, 6);
$brand-red-300: tint-color($brand-red, 4);
$brand-red-400: tint-color($brand-red, 2);
$brand-red-500: $brand-red;
$brand-red-600: shade-color($brand-red, 2);
$brand-red-700: shade-color($brand-red, 4);
$brand-red-800: shade-color($brand-red, 6);
$brand-red-900: shade-color($brand-red, 8);
$brand-orange-100: tint-color($brand-orange, 8);
$brand-orange-200: tint-color($brand-orange, 6);
$brand-orange-300: tint-color($brand-orange, 4);
$brand-orange-400: tint-color($brand-orange, 2);
$brand-orange-500: $brand-orange;
$brand-orange-600: shade-color($brand-orange, 2);
$brand-orange-700: shade-color($brand-orange, 4);
$brand-orange-800: shade-color($brand-orange, 6);
$brand-orange-900: shade-color($brand-orange, 8);
$brand-yellow-100: tint-color($brand-yellow, 8);
$brand-yellow-200: tint-color($brand-yellow, 6);
$brand-yellow-300: tint-color($brand-yellow, 4);
$brand-yellow-400: tint-color($brand-yellow, 2);
$brand-yellow-500: $brand-yellow;
$brand-yellow-600: shade-color($brand-yellow, 2);
$brand-yellow-700: shade-color($brand-yellow, 4);
$brand-yellow-800: shade-color($brand-yellow, 6);
$brand-yellow-900: shade-color($brand-yellow, 8);
$brand-green-100: tint-color($brand-green, 8);
$brand-green-200: tint-color($brand-green, 6);
$brand-green-300: tint-color($brand-green, 4);
$brand-green-400: tint-color($brand-green, 2);
$brand-green-500: $brand-green;
$brand-green-600: shade-color($brand-green, 2);
$brand-green-700: shade-color($brand-green, 4);
$brand-green-800: shade-color($brand-green, 6);
$brand-green-900: shade-color($brand-green, 8);
$brand-teal-100: tint-color($brand-teal, 8);
$brand-teal-200: tint-color($brand-teal, 6);
$brand-teal-300: tint-color($brand-teal, 4);
$brand-teal-400: tint-color($brand-teal, 2);
$brand-teal-500: $brand-teal;
$brand-teal-600: shade-color($brand-teal, 2);
$brand-teal-700: shade-color($brand-teal, 4);
$brand-teal-800: shade-color($brand-teal, 6);
$brand-teal-900: shade-color($brand-teal, 8);
$brand-cyan-100: tint-color($brand-cyan, 8);
$brand-cyan-200: tint-color($brand-cyan, 6);
$brand-cyan-300: tint-color($brand-cyan, 4);
$brand-cyan-400: tint-color($brand-cyan, 2);
$brand-cyan-500: $brand-cyan;
$brand-cyan-600: shade-color($brand-cyan, 2);
$brand-cyan-700: shade-color($brand-cyan, 4);
$brand-cyan-800: shade-color($brand-cyan, 6);
$brand-cyan-900: shade-color($brand-cyan, 8);
$brand-primary: $brand-blue;
$brand-secondary: $white;
$brand-dark: #043c76;
