// Colors
$blue: $brand-blue;
$indigo: $brand-indigo;
$purple: $brand-purple;
$pink: $brand-pink;
$red: $brand-red;
$orange: $brand-orange;
$yellow: $brand-yellow;
$green: $brand-green;
$teal: $brand-teal;
$cyan: $brand-cyan;
$primary: $brand-primary;
$secondary: $brand-secondary;
$light: $white;
$dark: $brand-dark;

// Spacing
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 4.5,
    ),
    7: (
      $spacer * 6,
    ),
  ),
  $spacers
);

// Base
$body-color: $black;
$link-color: #0466ff;

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
);

// Typography
$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;
$h1-font-size: 42px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 16px;
$h6-font-size: 14px;
$headings-font-family: "Montserrat", $font-family-base;
$headings-font-weight: 600;
$headings-line-height: 1.2;
$headings-color: null;
$display1-size: 64px;
$display2-size: 56px;
$display3-size: 40px;
$display4-size: 34px;
$display1-weight: 600;
$display2-weight: 600;
$display3-weight: 600;
$display4-weight: 700;

// Input Buttons
$input-btn-padding-y: .5rem;
$input-btn-padding-x: .6rem;
$input-btn-line-height: 1.25;
$input-btn-focus-width: 0;

// Buttons
$btn-padding-y: 10px;
$btn-padding-x: 22px;
$btn-border-width: 2px;
$btn-font-weight: 700;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

// Forms
$input-disabled-bg: #efefef;

// Navbar
$navbar-dark-color: $white;

// Cards
$card-border-radius: 0;
