// Custom variables for Message Agency components.
//
// MA Component Library: @todo
//
// -----------------------------------------------------------------------------

$ratio: 1.125;

// Page title

$c-page-title-font-family: $headings-font-family;
$c-page-title-font-size: $h1-font-size;
$c-page-title-font-weight: $headings-font-weight;
$c-page-title-letter-spacing: normal;
$c-page-title-line-height: $h1-font-size * $headings-line-height;
$c-page-title-color: $headings-color;
$c-page-title-font-size-lg: floor(math.div($h1-font-size, $ratio));
$c-page-title-font-size-md: floor(math.div($c-page-title-font-size-lg, $ratio));
$c-page-title-font-size-xs: floor(math.div($c-page-title-font-size-md, $ratio));


// Billboard

$c-billboard-heading-font-family: $headings-font-family;
$c-billboard-heading-font-size: 30px;
$c-billboard-heading-font-weight: 600;
$c-billboard-heading-letter-spacing: normal;
$c-billboard-heading-line-height: 1.33;
$c-billboard-heading-color: $white;
$c-billboard-lead-font-family: $font-family-base;
$c-billboard-lead-font-size: 17px;
$c-billboard-lead-font-weight: 400;
$c-billboard-lead-letter-spacing: normal;
$c-billboard-lead-line-height: 1.7;
$c-billboard-lead-color: $white;
$c-billboard-no-media-bg: #dbefff;
$c-billboard-no-media-heading-color: invert($c-billboard-heading-color);
$c-billboard-no-media-lead-color: invert($c-billboard-heading-color);
$c-billboard-overlay: rgba(0, 0, 0, 0.45) 0 0 0 1000px inset;

// Story

$c-story-heading-font-family: $headings-font-family;
$c-story-heading-font-size: 30px;
$c-story-heading-font-weight: 600;
$c-story-heading-letter-spacing: normal;
$c-story-heading-line-height: 1.2;
$c-story-heading-color: $brand-dark;
$c-story-body-font-family: $font-family-base;
$c-story-body-font-size: 20px;
$c-story-body-font-weight: 400;
$c-story-body-letter-spacing: .25px;
$c-story-body-line-height: 1.5;
$c-story-body-color: $brand-dark;
$c-story-bg: $white;
$c-story-gradient-start: $brand-teal;
$c-story-gradient-stop: $white;
$c-story-no-media-bg: $white;
$c-story-no-media-heading-color: $black;
$c-story-no-media-body-color: $black;

// Signpost

$c-signpost-heading-font-family: $headings-font-family;
$c-signpost-heading-font-size: 24px;
$c-signpost-heading-font-weight: 900;
$c-signpost-heading-letter-spacing: normal;
$c-signpost-heading-line-height: 1.2;
$c-signpost-heading-color: $primary;
$c-signpost-body-font-family: $font-family-base;
$c-signpost-body-font-size: 18px;
$c-signpost-body-font-weight: 400;
$c-signpost-body-letter-spacing: normal;
$c-signpost-body-line-height: 1.5;
$c-signpost-body-color: $black;



// Cards

$c-card-eyebrow-font-family: $font-family-base;
$c-card-eyebrow-font-size: 14px;
$c-card-eyebrow-font-weight: 700;
$c-card-eyebrow-letter-spacing: 0.5;
$c-card-eyebrow-line-height: 20px;
$c-card-eyebrow-text-transform: uppercase;
$c-card-mustache-font-family: $font-family-base;
$c-card-mustache-font-size: 15px;
$c-card-mustache-font-weight: 400;
$c-card-mustache-letter-spacing: 0.25px;
$c-card-mustache-line-height: 1.5;
$c-card-mustache-text-transform: none;
$border-default: 1px solid #979797;
$border-dark: 1px solid $black;
$border-light: 1px solid $white;
$sidebar-border-highlight: 8px solid $brand-primary;
$c-footer-background: $brand-primary;
$c-footer-color: $white;
