// Custom style for the standard layout component.
// -----------------------------------------------------------------------------
.landing,
.single-listing_page {
  .layout--standard {
    .layout__row--middle {
      margin-bottom: 0;
    }
  }
}

.single:not(.single-listing_page) {
  .layout__row--middle {
    margin-bottom: 3rem;
  }
}

.layout--standard {
  .layout__row--middle {
  }

  .layout__region--sidebar-second,
  .layout__region--sidebar-first {
    @include media-breakpoint-down(sm) {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
  }

  &.node--type-homepage {
    .layout__row--middle {
      margin-bottom: 0;
    }
  }

  .related-container {
    margin-top: 90px;

    .band__region--band-content {
      & + h2 {
        margin-top: 3rem;
      }
    }

    h2 {
      color: $dark;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  .related-container + .related-container {
    margin-top: 0;
  }

  .layout__region--sidebar-second {
    .nav {
      h2 {
        font-weight: 600;
      }

      a {
        text-decoration: none;
      }
    }
  }

  &.layout--detail-page {
    .layout__row--top {
      @include media-breakpoint-up(md) {
        margin-top: 5rem;
      }

      margin-top: 2.5rem;

      .eyebrow {
        .field__item {
          display: inline-block;

          & + .field__item {
            &::before {
              content: "/";
              display: inline-block;
              margin: 0 .25rem;
            }
          }
        }
      }
    }

    .layout__row--middle {
      margin-top: 2rem;
    }

    .layout__region--main {
      @include media-breakpoint-up(md) {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;

        .field--field-image {
          grid-column: 3 / 11;
          grid-row: 1;
          width: 100%;
        }

        .field--body {
          grid-column: 4 / 10;
          grid-row: 2;
          width: 100%;
        }

        .field--field-pg-related {
          grid-column: 4 / 10;
          grid-row: 3;
          width: 100%;
        }
      }
    }
  }
}

body.single {
  .layout__region--main {
    a {
      color: $dark;
      font-weight: 500;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    blockquote {
      border-color: $dark;

      p {
        font-style: normal;
        font-weight: 700;
      }
    }

    button,
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
      @extend .btn;
      @extend %btn-primary;
    }
  }
}
