// Listing page
// -----------------------------------------------------------------------------
.layout--listing_page {
  &.layout--standard {
    > .layout__row--top {
      @include media-breakpoint-up(md) {
      }
    }

    .layout__row {
      .heading {
        @include media-breakpoint-up(lg) {
          // margin-bottom: 3rem;
        }

        color: $brand-dark;
      }
      .field--field-pg-article {
        h4 {
          color: $primary;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.5px;
          line-height: 24px;
          text-transform: uppercase;
        }
        ul {
          @include media-breakpoint-down(md) {
            flex-direction: column;
          }
          @include media-breakpoint-up(lg) {
            gap: 24px;
          }

          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding: 0;

          &:first-of-type {
            li {
              padding-right: 1rem;
            }

            .sf-field-submit {
              @include media-breakpoint-up(xl) {
                max-width: 20vw;
              }
              @include media-breakpoint-up(xxl) {
                max-width: 15vw;
              }
            }


            .sf-field-reset {
              @include media-breakpoint-up(lg) {
                flex-grow: 1;
                margin-left: -50px;
                margin-right: auto;
                max-width: 20vw;
              }
              @include media-breakpoint-up(xl) {
                margin-left: -50px;
                max-width: 20vw;
              }
              @include media-breakpoint-up(xxl) {
                max-width: 20vw;
              }
            }
          }
        }
        > div > p {
          //WordPress rendering empty p tags that were causing extra margins:
          display: none;
        }
      }
    }
  }

  .sf-field-taxonomy-resource_type,
  .sf-field-taxonomy-event_type,
  .sf-field-taxonomy-news_type {
    li {
      display: flex;
    }
  }

  .results,
  .results-bg {
    background-color: #f2f4f7;
  }

  .search-filter-results .results-bg {
  }



  .results-grid {
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    display: grid;
    grid-template-columns: 1fr;

    column-gap: 25px;
    row-gap: $grid-gutter-width / 2;

    &.grid-1 {
      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr;
      }
      @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr;
      }

      grid-template-columns: 1fr;
    }
  }

  .row {
    &.view-mode--featured {
      margin-bottom: 35px;
      .view-mode--featured {
        flex-grow: 1;
      }
    }
  }

  .view-heading {
    color: #011f5b;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 36px;
  }
}

/* Styling BEF Checkboxes to be like links so AJAX works. */
.views-exposed-form.bef-exposed-form input.form-checkbox {
  display: none;
}

/* Styling label like our links. */
.views-exposed-form.bef-exposed-form label.form-check-label {
  color: $black !important;
  cursor: pointer;
  padding: 0.5rem 0;
}

.views-exposed-form.bef-exposed-form .js-form-type-checkbox {
  margin-top: 1rem;
  padding-left: 0;
}

/* Which means we need to add a hover state. */
.views-exposed-form.bef-exposed-form label.form-check-label {
  @include hover {
    color: $black;
  }
}

/* Changes the label if the input is checked.  Like an active state. */
.views-exposed-form.bef-exposed-form input.form-checkbox:checked + label {
  background-color: $primary;
  color: $black;
  padding: 0.5rem 0.25rem;
}

.views-exposed-form.bef-exposed-form ul {
  list-style-type: none;
}

.view-exposed-form--inner {
  .card-header {
    background: transparent;
    border-bottom: 1px solid $black;
    color: #000;
    font-family: $headings-font-family;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;

    legend {
      font-size: 22px;
    }
  }

  .card-body {
    padding: 0;

    ul {
      padding-left: 0;

      .label {
        a {
          color: #000;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0.71px;
          line-height: 22px;
          text-decoration: none;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
