{#
/**
 * @file
 * Template for the page title.
  * Radix has it's own template for this. We remove 'display-4' static class.
 */
#}
{{ title_prefix }}
{% if title %}
  <h1{{ title_attributes }}>{{ title }}</h1>
{% endif %}
{{ title_suffix }}
