// Custom style for the navbar component.
// -----------------------------------------------------------------------------


// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  padding: 0;

  .right-menu {
    align-self: start;

    .toggler-container {
      button {
        background: $blue;
        color: $white;
      }
    }
  }
}

// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }

  &:hover,
  &:focus {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }

  .nav-link {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  .dropdown-menu {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }
}


// Navbar text
//
//

.navbar-text {
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
}


// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }

  &:hover {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &:focus {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
}

// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar-light {
  .navbar-brand {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }

    &:hover,
    &:focus {
      @include media-breakpoint-up(md) {
      }
      @include media-breakpoint-up(lg) {
      }
    }
  }

  .navbar-nav {
    .nav-link {
      @include media-breakpoint-up(md) {
      }
      @include media-breakpoint-up(lg) {
      }

      &:hover,
      &:focus {
        @include media-breakpoint-up(md) {
        }
        @include media-breakpoint-up(lg) {
        }
      }

      &.disabled {
        @include media-breakpoint-up(md) {
        }
        @include media-breakpoint-up(lg) {
        }
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      @include media-breakpoint-up(md) {
      }
      @include media-breakpoint-up(lg) {
      }
    }
  }

  .navbar-toggler {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  .navbar-toggler-icon {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  .navbar-text {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }

    a,
    a:hover,
    a:focus {
      @include media-breakpoint-up(md) {
      }
      @include media-breakpoint-up(lg) {
      }
    }
  }
}

// White links against a dark background
.navbar-light {
  .navbar-brand {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }

    &:hover,
    &:focus {
      @include media-breakpoint-up(md) {
      }
      @include media-breakpoint-up(lg) {
      }
    }
  }

  .navbar-nav {
    .nav-link {
      @include media-breakpoint-up(md) {
      }
      @include media-breakpoint-up(lg) {
      }

      &:hover,
      &:focus {
        @include media-breakpoint-up(md) {
        }
        @include media-breakpoint-up(lg) {
        }
      }

      &.disabled {
        @include media-breakpoint-up(md) {
        }
        @include media-breakpoint-up(lg) {
        }
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      @include media-breakpoint-up(md) {
      }
      @include media-breakpoint-up(lg) {
      }
    }
  }

  .navbar-toggler {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  .navbar-toggler-icon {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  .navbar-text {
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
    a,
    a:hover,
    a:focus {
      @include media-breakpoint-up(md) {
      }
      @include media-breakpoint-up(lg) {
      }
    }
  }
}