// Custom style for the face component.
// -----------------------------------------------------------------------------
.face {

  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
}
