{#
/**
 * @file
 * Template for a face component.
 *
 * Variables:
 * - eyebrow
 * - title
 *  - heading_wrapper
 * - mustache
 * - page_title: true if the title is the page title.
 */
#}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{# Utilities #}
{% set utilities = utilities ?: [] %}

{% if eyebrow|render or mustache|render %}
  <{{ wrapper }}{{ bem('face', modifiers, '', utilities) }}>
{% endif %}
    {% if eyebrow|render %}
      {% include '/01-atoms/text/eyebrow/eyebrow.twig' with {
        content: eyebrow,
      } %}
    {% endif %}
    {% if title|render %}
      {% include '/01-atoms/text/heading/heading.twig' with {
        content: title,
        wrapper: heading_wrapper ? heading_wrapper,
        page_title: page_title,
      } only %}
    {% endif %}
    {% if mustache|render %}
      {% include '/01-atoms/text/mustache/mustache.twig' with {
        content: mustache,
      } %}
    {% endif %}
{% if eyebrow|render or mustache|render %}
  </{{ wrapper }}>
{% endif %}
