// Custom style for the content story component.
// -----------------------------------------------------------------------------
.band--accordion {
  @include py(6);
  .band__region--band-header {
    margin-bottom: 4rem;
  }
  .band__heading {
    @include section-heading;

    font-weight: 500;
    text-align: center;
  }

  .band__lead {
    @include lead-copy;

    text-align: center;
  }
  .band__container {
    padding-left: 0;
    padding-right: 0;
    .band__region--band-header {
      @include media-breakpoint-down(md) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .band__cta {
      gap: 18px;
    }
  }

  .band__container {
    padding: 2rem 0 5rem 0;
    .band__region {
      .accordion-header {
        align-items: center;
        color: $body-color;
        display: flex;
        font-size: 21px;
        font-weight: 400;
        justify-content: space-between;
        width: 100%;

        flex-flow: row nowrap;
      }
      &.accordion-container {
        border-bottom: 1px solid $gray-500;
      }
      &.accordion {
        align-items: center;
        background-color: $gray-100;
        border: none;
        display: flex;
        justify-content: space-between;
        outline: none;
        padding: 15px;
        text-align: left;
        transition: 0.4s;
        width: 100%;

        i {
          color: $body-color;
          font-weight: 900;
          transform: none;
          transition: transform 0.3s ease-in-out;
        }

        &:hover {
          background-color: $gray-200;
          cursor: pointer;
        }

        &.active {
          i {
            transform: scaleY(-1);
          }
        }
      }
      &.panel {
        display: none;
        overflow: hidden;
        padding: 0 18px;
        &.show {
          display: block;
          padding-bottom: 18px;
        }
        p {
          &:first-of-type {
            margin-top: .75rem;
          }
        }
      }
    }
  }

  .band__cta {
    @include media-breakpoint-up(md) {
      flex-direction: row !important;
      justify-content: center;
      margin-top: 2rem;
    }

    display: flex;
    flex-direction: column !important;
    gap: 18px;
    margin-top: 1.5rem;
    padding: 0 1.5rem;

    .cta--primary {
      @include media-breakpoint-down(sm) {
        margin-right: 0 !important;
      }
    }

    .btn-primary {
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }

      margin-bottom: 1rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .band__container {
      padding: 20px 15px;
      .band__region {
        &.band__region--band-content-inner {
          padding-left: 15px;
          padding-right: 15px;
        }
        &.accordion {
          font-size: 19px;
          line-height: 25px;
          padding-left: 0;
          padding-right: 5px;
        }
        &.panel {
          padding: 0;
        }
      }
    }
  }
}
