// Custom style for the billboard component.
// -----------------------------------------------------------------------------
.band--billboard {
  margin-bottom: 0;
  min-height: 600px;

  .field--field-pg-image {
    height: 100%;
    img {
      @include media-breakpoint-down(md) {
        height: 100vh;
      }

      max-height: 650px;
      width: 100%;

      object-fit: cover;
    }
    &:before {
      bottom: 0;
      box-shadow: rgba(0, 0, 0, 0.45) 0 0 0 1000px inset;
      content: "";
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
    }
    &.boxed {
      &:before {
        @include media-breakpoint-down(sm) {
          height: 40rem;
        }

        height: 35rem;
        width: 95rem;
      }
    }
  }

  .band__region--band-content {
    @include media-breakpoint-up(md) {
      padding: 5rem 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 1.5rem;
    z-index: 2;
  }

  .band__heading {
    @include billboard-heading;

    margin-bottom: 2rem;
  }

  .band__lead {
    @include billboard-lead;
  }

  &.band--no-media {
    @include py(0);
    @include media-breakpoint-up(xl) {
      min-height: 650px;
    }

    background-color: $brand-dark !important;

    .band__region--band-content {
      @include media-breakpoint-up(xl) {
        min-height: 650px;
      }
    }

    .band__heading {
      color: $white;
    }

    .band__lead {
      color: $white;
    }

    .band__cta {
      a.btn {
        @extend %btn-secondary;
      }
    }
  }
}
