.band--body {
  @include py(6);

  .heading,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote {
  }

  .heading {
    text-align: center;
  }

  .heading,
  h1,
  h2 {
    padding-top: 2rem;
  }

  h3 {
    @include secondary-heading;

    margin-top: 0;
    padding-top: 1.5rem;
  }

  h4 {
    @include tertiary-heading;

    padding-top: 1.5rem;
  }

  p {
    font-size: rem-calc(18px);
    line-height: 30px;
  }
}
