// Custom style for the menu grid component.
// -----------------------------------------------------------------------------

.band--menu-grid,
.band--content-grid,
.band--view-container {
  @include py(6);

  .band__region--band-header {
    margin-bottom: 4rem;
  }
  .band__heading {
    @include section-heading;

    text-align: center;
  }

  .band__lead {
    @include lead-copy;

    text-align: center;
  }
  .band__container {
    @include media-breakpoint-up(md) {
      padding-left: 0;
      padding-right: 0;
    }

    .band__region--band-header {
      @include media-breakpoint-down(md) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .band__cta {
      gap: 18px;
    }
  }

  .card-deck {
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    display: grid;
    grid-template-columns: 1fr;

    column-gap: 24px;
    row-gap: $grid-gutter-width;
  }
  .band__region--band-content {
    @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-right: 0;
    }
    @include media-breakpoint-up(md) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .band__region--band-content-inner {
    height: 100%;
    margin-bottom: 25px;
    width: 100%;

    .card {
      min-height: 180px;
    }
    .card-inner {
      @include hover-focus {
        .card__heading {
          text-decoration: underline;
        }
      }

      height: 100%;
      text-decoration: none;
    }
    .card__heading {
      margin: 0;
    }
    .card-img-bg {
      @include media-breakpoint-only(sm) {
        img {
          height: 100%;
          width: 100%;
        }
      }
      @include media-breakpoint-down(sm) {
        height: 13rem;
      }

      height: 100%;
      min-height: 200px;
      opacity: 1;
      overflow: hidden;

      object-fit: cover;
      &.card-img {
        background: $black;
      }
      &.no-img {
        background: $primary;
        opacity: 1;
      }
      img {
        height: 200px;
        width: 100%;

        object-fit: cover;
      }
    }
  }
  &:last-of-type {
    padding-bottom: 3rem;
  }
}

.band--view-container {
  .band__container {
    padding-top: 0;
  }
}

.bundle--type-menu-grid {
  .card {
    margin: 0;
  }
}

.gridnav-item.card {
  @include hover-focus {
    .card__heading {
      text-decoration: underline;
    }
  }
}

.band--menu-grid {
  @extend .bg-gray;
}
