// Custom style for the signpost component.
// -----------------------------------------------------------------------------
.band--signposts {
  .band__region--band-title {
    padding: 0;
  }
  .band__region--band-header {
    margin-bottom: 3rem;
  }
  .band__heading {
    @include section-heading;
    @include media-breakpoint-down(md) {
      padding: 0 15px;
    }

    color: $brand-dark;
    font-weight: 600;
  }

  .band__lead {
    @include lead-copy;
    @include media-breakpoint-down(md) {
      padding: 0 15px;
    }

    font-size: 20px;
  }
  .band__container {
    @include py(5rem);
    @include media-breakpoint-up(md) {
      @include px(0);
    }
  }
  .band__region--band-content {
    @include media-breakpoint-up(md) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .card-deck.set-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.card--signpost {
  @include media-breakpoint-down(md) {
    margin-bottom: 0 !important;
  }
  @include hover-focus {
    &:not(.card--no-link) {
      text-decoration: none;
      .card__heading {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    width: clamp(240px, 25%, 280px);
  }
  @include media-breakpoint-up(xl) {
    width: clamp(259px, 20%, 280px);
  }

  background: white;
  border: 0;
  color: $black;
  flex-basis: unset !important;
  flex-grow: unset !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  min-height: 192px;
  text-decoration: none;

  flex-shrink: unset !important;

  .field--image img {
    border-radius: 1000px;
    height: 88px;
    width: 88px;
  }

  .field--image {
    .far,
    .fas,
    .fa-solid,
    .fab,
    .fa-brands {
      color: $green;
      font-size: 80px;
      padding-top: rem-calc(24px);
    }
  }
  .card__heading {
    @include signpost-heading;

    color: $brand-dark;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
  }
  .field--body {
    @include signpost-body;

    color: $black;
    letter-spacing: .75px;
    margin-top: 1rem;
    padding-bottom: 8px;
  }
}
