// Custom style for the story component.
// -----------------------------------------------------------------------------
.band--story {
  @include media-breakpoint-up(lg) {
    display: flex;
    .band__region--band-inner {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  background-color: $white;
  .band__region--band-media-inner {
    height: 100%;
    .field--field-pg-image {
      align-items: center;
      display: flex;
      height: 100%;
      position: relative;
    }
  }
  .order-md-last {
    .field--field-pg-image {
    }
  }

  .band__region--band-media {
    @include media-breakpoint-up(lg) {
    }
  }
  .field--field-pg-image {
    img {
      height: 100%;
      width: 100%;

      object-fit: cover;
    }
  }

  .band__region--band-content {
    @include media-breakpoint-down(md) {
      padding: 0;
      padding-bottom: 2rem;
    }
    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .band__region--band-content-inner {
    @include media-breakpoint-up(md) {
      width: 80%;
    }

    background-color: $white;
    z-index: 1;

    .band__heading {
      @include story-heading;

      margin-bottom: 2rem;
    }

    .band__body {
      @include story-body;
      @include media-breakpoint-down(md) {
        font-size: 17px;
        line-height: 30px;
      }

      margin-bottom: 3rem;
    }
  }

  // Custom style for the story component with video.

  &.band--media-type--video {
    @include py(6);
    @include media-breakpoint-down(sm) {
      .row {
        flex-direction: column;
      }
      .band__region--band-inner {
        background: linear-gradient(
        to right,
        $c-story-gradient-start 0,
        $c-story-gradient-start 45%,
        $c-story-gradient-stop 45%,
        $c-story-gradient-stop 100%
        );
        margin-bottom: 32px;
        padding: 24px 0;
      }
    }
    @include media-breakpoint-up(lg) {
      background: linear-gradient(
      to left,
      $c-story-gradient-start 0,
      $c-story-gradient-start 45%,
      $c-story-gradient-stop 45%,
      $c-story-gradient-stop 100%
      );
    }
    @include media-breakpoint-up(xxl) {
      background: linear-gradient(
      to left,
      $c-story-gradient-start 0,
      $c-story-gradient-start 45%,
      $c-story-gradient-stop 45%,
      $c-story-gradient-stop 100%
      );
    }

    &.band--media-align--start {
      @include media-breakpoint-up(lg) {
        background: linear-gradient(
        to right,
        $c-story-gradient-start 0,
        $c-story-gradient-start 45%,
        $c-story-gradient-stop 45%,
        $c-story-gradient-stop 100%
        );
      }
      @include media-breakpoint-up(xxl) {
        background: linear-gradient(
        to right,
        $c-story-gradient-start 0,
        $c-story-gradient-start 45%,
        $c-story-gradient-stop 45%,
        $c-story-gradient-stop 100%
        );
      }
    }

    iframe {
      @extend .embed-responsive-item;
    }

    .band__region--band-inner {
      @include media-breakpoint-down(md) {
        justify-content: center;
      }
    }

    .band__region--band-media {
      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }

    .band__region--band-media-inner {
      @include media-breakpoint-up(md) {
        align-items: center;
        display: flex;
      }

      .embed-responsive {
        @include media-breakpoint-up(lg) {
          min-width: 50vw;
        }
      }
    }
    .band__region--band-content {
      .band__region--band-content-inner {
        .band__body {
          color: $black;
        }
      }
    }
  }

  // Custom style for the story component without media.

  &.band--no-media {
    background-color: $white;
    min-height: auto;


    .band__region--band-content {
      @include make-col(12);

      background-color: $white;
      padding: 3rem 15px !important;

      .band__region--band-content-inner {
        @include media-breakpoint-down(sm) {
          padding: 3rem 1.5rem;
        }
        @include media-breakpoint-only(md) {
          padding: 3rem 1.5rem;
        }
        @include media-breakpoint-up(lg) {
          display: grid;
          grid-template-columns: 12;
          padding: 48px 54px;

          column-gap: $grid-gutter-width;
          row-gap: 1rem;
        }

        align-items: center;
        background-color: $brand-dark;
        display: flex;
        flex-direction: column;

        .heading {
          @include media-breakpoint-up(lg) {
            @include text-typography($size: 40px);

            grid-column: span 8;
          }

          color: $white;
          font-weight: 500;
          margin-bottom: 16px !important;
        }

        .band__body {
          @include media-breakpoint-up(lg) {
            @include text-typography($size: 18px);

            grid-column: span 8;
            margin-bottom: 0;
          }

          color: $white;
          flex: auto;
          text-align: left;
        }

        .band__cta {
          @include media-breakpoint-up(lg) {
            grid-column: span 4;
            grid-column-start: 9;
            grid-row-end: 3;
            grid-row-start: 1;
          }
          @include media-breakpoint-down(sm) {
            margin-right: auto;
            margin-top: 0;
          }

          display: block;
          gap: 18px;
          margin-top: rem-calc(48px);

          .cta--primary {
            // display: flex;
            // justify-content: flex-end;
            @include media-breakpoint-down(md) {
              // justify-content: center;
            }
          }

          .cta--secondary {
            // display: flex;
            // justify-content: flex-end;
            @include media-breakpoint-up(md) {
            }
            @include media-breakpoint-down(md) {
              justify-content: center;
            }
          }

          .btn {
            @extend %btn-secondary;

            margin-bottom: .5rem;
            margin-right: 0;
            min-width: 264px;
          }
        }
      }
    }
  }

  &.band--media-type--image {
    // @include my(5);
    @include media-breakpoint-up(lg) {
      @include py(5);
    }
    @include media-breakpoint-down(sm) {
      .row {
        flex-direction: column;
      }
      .band__region--band-inner {
        @include media-breakpoint-up(lg) {
          padding: 24px 0;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      @include py(0);
      /*
      background: linear-gradient(
      to left,
      $c-story-gradient-start 0,
      $c-story-gradient-start 20%,
      $c-story-gradient-stop 20%,
      $c-story-gradient-stop 100%
      );
      */
    }
    @include media-breakpoint-up(xxl) {
      /*
      background: linear-gradient(
      to left,
      $c-story-gradient-start 0,
      $c-story-gradient-start 30%,
      $c-story-gradient-stop 30%,
      $c-story-gradient-stop 100%
      );
      */
    }

    background: $brand-teal;

    .band__region--band-content {
      @include pt(4);
      @include pb(6);
      @include media-breakpoint-up(lg) {
        @include py(5);
      }
    }

    &.band--media-align--start {
      @include media-breakpoint-up(lg) {
        /*
        background: linear-gradient(
        to right,
        $c-story-gradient-start 0,
        $c-story-gradient-start 20%,
        $c-story-gradient-stop 20%,
        $c-story-gradient-stop 100%
        );
        */
      }
      @include media-breakpoint-up(xxl) {
        /*
        background: linear-gradient(
        to right,
        $c-story-gradient-start 0,
        $c-story-gradient-start 30%,
        $c-story-gradient-stop 30%,
        $c-story-gradient-stop 100%
        );
        */
      }
    }
    .band__region--band-content-inner {
      @include media-breakpoint-up(lg) {
      }
      @include media-breakpoint-up(xl) {
      }
      @include media-breakpoint-up(lg) {
        padding-top: 1.5rem;
      }

      background-color: $brand-teal;
    }
  }
}


// For creating a circular crop/mask on story images on certain pages:
// 782 = Faculty
// 1034 = Staff
// 852 = Students
.page-id-782,
.page-id-1034,
.page-id-852 {
  .band--story .field--field-pg-image img {
    @include media-breakpoint-down(md) {
      width: 330px;
    }

    border-radius: 50%;
  }
}
