{#
/**
 * Block Name: Accordion block
 *
 * This is the template that displays the accordion block.
 */
#}

<div class="band band--accordion bg-gray full-bleed">
  <div class="band__container container">

	  {% if field.band_heading or field.band_body %}
			<div class="row">
		<div class="band__region band__region--band-title col-12">

      <div class="band__region band__region--band-header">
        <h2 class="band__heading display-3 heading">
          <div class="field field--field-pg-heading bundle--type-accordion view-mode-default">
            {{ field.band_heading }}
          </div>
        </h2>
			  <div class="band__lead lead">
          <div class="field field--field-pg-body bundle--type-billboard">
            {{ field.band_body }}
          </div>
        </div>
      </div>
		</div>
		</div>
    {% endif %}

<div class="row">
		<div class="band__region band__region--band-content col-12">
      <div class="band__region band__region--band-content-inner">

			{% for item in field.accordion_items %}
        <div class="band__region band__region--band-inner accordion-container">
          <button class="band__region band__region--band-inner accordion">
            <div class="accordion-header">
              {{ item.accordion_item_heading }}
              <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </div>
          </button>
          <div class="band__region band__region--band-inner panel">
            <p class="body-alt">{{ item.accordion_item_body }}</p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
		</div>

		{% if field.band_ctas %}
			<div class="band__cta d-flex flex-row justify-content-center m-5">
				{% for item in field.band_ctas %}
					{% if loop.first %}

						<div class="cta--primary">

							<a href="{{ item.band_ctas_link['url'] }}" class="btn btn-primary" target="{{ item.band_ctas_link['target'] }}">

					{% else %}

						<div class="cta--secondary">
							<a href="{{ item.band_ctas_link['url'] }}" class="btn btn-secondary" target="{{ item.band_ctas_link['target'] }}">
					{% endif %}
							{{ item.band_ctas_link['title'] }}
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}

  </div>
</div>
