{#
/**
 * @file
 * Template for a billboard component.
 *
 * Variables:
 * - page_title: true if the title should act as the page title.
 */
#}

{% if field.band_media %}
	<div class="band band--billboard band-- band--with-image jumbotron jumbotron-fluid full-bleed p-0 bg-dark text-light text-center paragraph paragraph--type-billboard paragraph--view-mode-default">
	{% else %}
	<div class="band band--billboard band-- jumbotron jumbotron-fluid full-bleed bg-dark text-light text-center paragraph paragraph--type-billboard paragraph--view-mode-default band--no-media">
	{% endif %}
		<div class="band__region band__region--band-media">
			{% if field.band_media %}
				<div class="field field--field-pg-image bundle--type-billboard">
			{% endif %}

			{% if field.band_media %}
				{% set image = Image(field.band_media) %}
				<img src="{{ image.src('billboard') }}" alt="{{ image.alt }}" class="img-fluid">
				</div>
				</div>
				<div class="band__region band__region--band-content container card-img-overlay overlay-light">
			{% else %}
				<div class="band__region band__region--band-content container">
			{% endif %}
				<h2 class="band__heading mb-5 display-2 heading">
					<div class="field field--field-pg-heading bundle--type-billboard">
						{{ field.band_heading }}
					</div>
				</h2>
				<div class="band__lead lead">
					<div class="field field--field-pg-body bundle--type-billboard">
						{{ field.band_body }}
					</div>
				</div>
				{% if field.band_ctas %}

					<div class="band__cta justify-content-center">

						{% for item in field.band_ctas %}
							{% if loop.first %}
								<div class="cta--primary">
									<a href="{{ item.band_ctas_link['url'] }}" class="btn btn-primary" target="{{ item.band_ctas_link['target'] }}">
							{% else %}
								<div class="cta--secondary">
									<a href="{{ item.band_ctas_link['url'] }}" class="btn btn-secondary" target="{{ item.band_ctas_link['target'] }}">
							{% endif %}
									{{ item.band_ctas_link['title'] }}
								</a>
							</div>
						{% endfor %}
					</div>
				{% endif %}
				</div>
			{% if field.band_media %}
				</div>
			{% endif %}
		</div>
	</div>
