{#
/**
 * Block Name: Overview block
 *
 * This is the template that displays the overview block.
 */
#}

<div class="band band--body full-bleed">
  <div class="band__region band__region--band-inner container col-lg-6">
    {% if field.band_heading %}
      <div class="band__region band__region--band-title">
        <h2 class="band__heading heading">
          {{ field.band_heading }}
        </h2>
      </div>
    {% endif %}
		{% if field.band_body %}
      <div class="band__region band__region--band-column">
        <div class="band__region band__region--band-body column">
          {{ field.band_body }}
        </div>

      </div>
			{% endif %}
			{% if post.files or post.links %}
				<div class="field-container field--field-pg-related">
					{% if post.files %}
						<div class="field-container field--field-pg-files">
							<div class="field field--field-pg-related-title">Files</div>
								{% for item in post.meta('files') %}
									<div class="field field--field-pg-related-item file">
										<a href="{{ TimberImage(item.file).src }}">
											{% if item.file.title %}
											{{ item.file.title }}
											{% else %}
											{{ item.file.filename }}
											{% endif %}
										</a>
									</div>
								{% endfor %}
						</div>
					{% endif %}
					{% if post.links %}
						<div class="field-container field--field-pg-links">
							<div class="field field--field-pg-related-title">Links</div>
							{% for item in post.meta('links') %}
								<div class="field field--field-pg-related-item link">
									<a href="{{ item.link.url }}" target="_blank">
										{% if item.link.title %}
										{{ item.link.title }}
										{% else %}
										{{ item.link.url }}
										{% endif %}
									</a>
								</div>
							{% endfor %}
						</div>
					{% endif %}
					</div>
				{% endif %}
  </div>
</div>
