{# /** * Block Name: Menu Grid block * * This is the template that displays the
menu grid block. */ #}
{% for item in primary_menu.get_items %}
{% if item.get_children and post.link == item.url %}
<div class="band band--menu-grid full-bleed bg-gray">
	<div class="band__container band__container-- container">
		<div class="text-center band__region band__region--band-header">
			<h2 class="band__heading mb-5 display-3 heading">
				<div class="field field--field-pg-heading bundle--type-menu-grid">
					{{ field.band_heading }}
				</div>
			</h2>
		</div>
		<div class="band__region band__region--band-content">
			<div class="band__region band__region--band-content-inner">
				<div
					class="field field--dynamic-block-fieldparagraph-grid-nav bundle--type-menu-grid"
				>
					<div class="card-container card-container--grid card-deck">
						{% for item in primary_menu.get_items %}
						{% if item.get_children and post.link == item.url %}
						{% for child in item.get_children %}
						<div class="card card--card-img-top">
							<a class="card-inner" href="{{ child.get_link }}">
								<div class="card-body">
									<div class="card-title">
										<h3 class="card__heading h4 heading">{{ child.title }}</h3>
									</div>
								</div>
							</a>
						</div>
						{% endfor %}
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
