{#
/**
 * Block Name: Signpost block
 *
 * This is the template that displays the signpost block.
 */
#}

<div class="band band--signposts full-bleed bg-gray text-dark">
  <div class="band__container band__container-- container">
    <div class="band__region band__region--band-title col-md-12">
      {% if field.band_heading %}
        <div class="band__region band__region--band-header text-center">
          <h2 class="band__heading display-3 heading">
            <div class="field field--field-pg-heading bundle--type-signpost-grid">
              {{ field.band_heading }}
            </div>
          </h2>
					{% if field.band_body %}
					<div class="row">
					<div class="band__lead lead mt-4 col-lg-10 offset-lg-1">

						{{ field.band_body }}
          </div>
					</div>
					{% endif %}
        </div>
      {% endif %}
    </div>
    <div class="band__region band__region--band-content">
      <div class="band__region band__region--band-content-inner">

          <div class="card-container card-deck set-width">

          {% if field.signpost_items %}
            {% for item in field.signpost_items %}
              {% set image = Image(item.signpost_image) %}
              {% set icon = item.signpost_icon %}
							{% set link = item.signpost_link %}
							{% if link %}
							<a href="{{ item.signpost_link['url'] }}" target="{{ item.signpost_link['target'] }}" class="card card--signpost card--card-img-top card--display-default signpost text-center">
								{% else %}
              <div class="card card--signpost card--no-link card--card-img-top card--display-default signpost text-center">
								{% endif %}
                <div class="card-img-top">
                  <div class="field field--image bundle--type-signpost">
                    {% if item.icon_type == 'image' %}
                      <img src="{{ image.src }}" alt="{{ image.alt }}" class="img-style--signpost img-fluid">
                    {% elseif item.icon_type == 'icon' %}
                      {{icon}}
                    {% elseif item.icon_type == 'none' %}
                    {% endif %}
                  </div>
                </div>
                <div class="card-body">
                  {% if item.signpost_heading %}
                    <div class="card-title">
                      <h3 class="card__heading heading">
                        <div class="field field--heading bundle--type-signpost">
                          {{ item.signpost_heading }}
                        </div>
                      </h3>
                    </div>
                  {% endif %}
                  {% if item.signpost_body %}
                    <div class="field field--body bundle--type-signpost">
                      {{ item.signpost_body }}
                    </div>
                  {% endif %}
                </div>
								{% if link %}
							</a>
							{% else %}

              </div>
							{% endif %}
            {% endfor %}
          {% else %}
          {% endif %}
          </div>
          {% if field.band_ctas %}
            <div class="band__cta d-flex flex-row justify-content-center m-5">
              {% for item in field.band_ctas %}
                {% if loop.first %}
                  <div class="cta--primary">
                    <a href="{{ item.band_ctas_link['url'] }}" class="btn btn-primary" target="{{ item.band_ctas_link['target'] }}">
                {% else %}
                  <div class="cta--secondary">
                    <a href="{{ item.band_ctas_link['url'] }}" class="btn btn-secondary" target="{{ item.band_ctas_link['target'] }}">
                    {% endif %}
                    {{ item.band_ctas_link['title'] }}
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
      </div>
    </div>
  </div>
</div>
