{#
/**
 * Block Name: Story block
 *
 * This is the template that displays the story block.
 */
#}

{% if field.media_alignment == 'right' %}
	{% set media_alignment = 'band--media-align--end' %}
{% else %}
	{% set media_alignment = 'band--media-align--start' %}
{% endif %}

{% if field.media_type == 'image' %}
<div class="band band--story full-bleed band--media-type--image {{ media_alignment }}">
{% elseif field.media_type == 'video' %}
<div class="band band--story full-bleed band--media-type--video {{ media_alignment }}">
{% elseif field.media_type == 'none' %}
<div class="band band--story band--no-media full-bleed">
{% endif %}
<div class="container-fluid no-gutters">
	<div class="row no-gutters">
{% if (field.media_type == 'image') or (field.media_type == 'video') %}
  {% if field.media_alignment == 'right' %}
  <div class="band__region band__region--band-inner col col-lg-6">
    <div class="order-md-last band__region band__region--band-media">
  {% else %}
  <div class="band__region band__region--band-inner col col-lg-6">
    <div class="band__region band__region--band-media">
    {% endif %}
      <div class="band__region band__region--band-media-inner">
        {% if field.band_image %}
          <div class="field field--field-pg-image bundle--type-story">
            {% set image = Image(field.band_image) %}
            <img src="{{ image.src('story') }}" alt="{{ image.alt }}">
          </div>
          {% elseif field.band_video %}
          <div class="field field--field-pg-video bundle--type-story">
            <div class="video-square">
            </div>
            <div class="band__field-pg-media video">
              <div class="embed-responsive embed-responsive-16by9">
                {{ field.band_video }}
              </div>
            </div>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if field.media_alignment == 'right' %}
  <div class="order-md-first band__region band__region--band-content col col-lg-6">
  {% else %}
  <div class="band__region band__region--band-content col col-lg-6">
  {% endif %}
    <div class="band__region band__region--band-content-inner container">
      <h2 class="band__heading display-3 heading">
        <div class="field field--field-pg-heading bundle--type-story">
          {{ field.band_heading }}
        </div>
      </h2>
      <div class="band__body">
        <div class="field field--field-pg-body bundle--type-story">
          {{ field.band_body }}
        </div>
      </div>
      {% if field.band_ctas %}
        {% if field.media_type == 'none' %}
          <div class="band__cta d-flex">
        {% else %}
          <div class="band__cta d-flex flex-row flex-wrap justify-content-start mt-4">
        {% endif %}
          {% for item in field.band_ctas %}
            {% if loop.first %}

              <div class="cta--primary">

                <a href="{{ item.band_ctas_link['url'] }}" class="btn btn-primary" target="{{ item.band_ctas_link['target'] }}">

            {% else %}

              <div class="cta--secondary">
                <a href="{{ item.band_ctas_link['url'] }}" class="btn btn-secondary" target="{{ item.band_ctas_link['target'] }}">
            {% endif %}
                {{ item.band_ctas_link['title'] }}
              </a>
            </div>
          {% endfor %}
        </div>

      {% endif %}
		</div>
		</div>
    </div>
  </div>
</div>
