// Generic page
// -----------------------------------------------------------------------------
.node--type-page {
  &.node--view-mode-full {
    @include media-breakpoint-up(lg) {
      margin-top: 4rem;
    }

    margin-top: rem-calc(40px);

    .page-title {
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .field--body.bundle--type-page {
      @include media-breakpoint-up(lg) {
        @include make-col(10);
        @include make-col-offset(1);
      }
    }
  }
  &.node--view-mode-teaser {
  }
  &.node--view-mode-featured {
  }
}

.field--field-pg-links,
.field--field-pg-files {
  padding: 1rem 0;
  .field--field-pg-related-title {
    color: #043c76;
    font-family: $headings-font-family;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;

    &:after {
      background-color: #b1bd2e;
      content: "";
      display: block;
      height: 3px;
      margin-top: .5rem;
      width: 45px;
    }
  }
  .field--field-pg-related-item {
    a {
      color: #2b78e4 !important;
      font-family: $headings-font-family;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.57px;
      line-height: 22px;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.field--field-related-content.bundle--type-page {
  margin-bottom: 6rem;
  .field__label {
    @include section-heading;

    margin-bottom: 3rem;
    text-align: center;
  }

  .field__items {
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    display: grid;
    grid-template-columns: 1fr;

    column-gap: 30px;
    row-gap: $grid-gutter-width;

    .field__item .card {
      height: 100%;
    }
  }
}

.field--field-image.bundle--type-page.view-mode--full {
  margin-bottom: 3rem;
}

.field--field-image.bundle--type-page.view-mode--teaser {
  @include media-breakpoint-down(sm) {
    margin-top: 2rem;
  }
}
