// Custom style for the lead component.
// -----------------------------------------------------------------------------
.lead {
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
}
