// Custom style for the page footer component.
// -----------------------------------------------------------------------------

.footer__copyright {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 0.25rem;
  letter-spacing: 0;
  line-height: 18px;

  a {
    color: $white !important;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

.footer__logos {
  .nav {
    @include media-breakpoint-down(md) {
      align-items: center;
      display: grid !important;
      grid-template-columns: 1fr 1fr;

      justify-items: center;
      row-gap: 3rem;
    }
  }
  img {
    @include media-breakpoint-down(md) {
      width: 110px;

      object-fit: contain;
    }

    height: 36px;
  }
}

.footer-menu-container {
  .nav {
    .nav-item {
      @include media-breakpoint-down(sm) {
        display: block;
        flex: 0 0 100%;
        text-align: center;
      }
      & + .nav-item {
        @include media-breakpoint-up(sm) {
          margin-left: 20px;
        }
      }
    }
    .nav-link {
      @include media-breakpoint-down(sm) {
        justify-content: center;
      }

      color: $white;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4;
      padding: 0;
    }
  }
}

.footer-cta {
  @include media-breakpoint-down(md) {
    text-align: left;
  }

  align-items: center;
  display: flex;
  height: 160px;
  h2 {
    @include media-breakpoint-down(md) {
      font-size: 22px;
      margin-bottom: 1rem;
    }

    color: $white !important;
    font-size: 40px;
  }
}

.footer__sponsors {
}

.page__footer {
  border-top: 10px solid $teal;
  color: $black;

  .nav-container {
    ul {
      @include media-breakpoint-down(sm) {
        &.buttons {
          flex-direction: column;
          margin-top: 10px;
        }
      }

      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding: 0;
    }
    li {
      a {
        align-items: center;
        color: #011f5b;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 25px;
        text-decoration: none;
      }
      &.button {
        @include media-breakpoint-down(sm) {
          padding: 10px 0;
        }
      }
      &.fontawesome-brand {
        display: flex;
        padding-right: 1rem;
      }
    }
    a {
      color: $brand-dark;
      &:hover {
        text-decoration: underline;
      }
    }
    .footer__top {
      @include media-breakpoint-down(sm) {
        align-items: center;
        flex-direction: column;
      }

      border-top: 8px solid #011f5b;
      padding-bottom: 2rem;
      padding-top: 2rem;

      .footer-left,
      .footer-middle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        p {
          @include media-breakpoint-only(lg) {
            font-size: 12px;
          }

          margin: 0;
          white-space: nowrap;
        }
      }
      .footer__top-start {
        @include media-breakpoint-down(md) {
          align-items: center;
        }
        img {
          @include media-breakpoint-down(sm) {
            height: auto;
            width: 100%;
          }

          height: 127px;
          margin-bottom: 12px;
        }
        p {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0;
        }
      }
      .footer-middle {
        @include media-breakpoint-down(md) {
          align-items: center;
          line-height: 1.5;
          padding: 1rem 0;
          text-align: center;
          p:first-of-type {
            margin-bottom: 2rem;
            margin-top: 2rem;
          }
        }

        align-items: flex-start;
        padding-left: 1rem;
      }
      .footer-sidebar-right {
        @include media-breakpoint-down(sm) {
          justify-content: center;
        }
        @include media-breakpoint-down(md) {
          align-items: center;
        }

        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .footer-copyright {
          @include media-breakpoint-only(lg) {
            font-size: 12px;
          }
          @include media-breakpoint-down(lg) {
            align-items: center;
            flex-direction: column;
          }

          align-items: flex-end;
          display: flex;
          gap: 4px;
          white-space: nowrap;
        }

        .nav-main {
          @include media-breakpoint-down(sm) {
            flex-direction: column;
            line-height: 1.5;
          }

          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-end;
          line-height: 2;

          column-gap: 2rem;
          .nav-main-item {
            &.button {
              .nav-main-link {
                @include media-breakpoint-down(sm) {
                  justify-content: center;
                }

                color: $white;
                font-size: 18px;
                font-weight: 900;
                letter-spacing: 0.1px;
                text-decoration: none;
                white-space: nowrap;
                &:hover,
                &:focus {
                  text-decoration: underline;
                }
              }
            }
            &:last-child {
              a {
                padding-right: 0 !important;
              }
            }
          }
        }
      }
    }
    .nav-main-link {
      .fab {
        @include media-breakpoint-down(sm) {
          font-size: 2rem;
        }

        font-size: 1.5rem;
      }
    }
  }
  .footer-bottom {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 2rem;
      text-align: center;
    }

    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    div {
      padding-left: 0.3rem;
      &:first-of-type {
        padding-left: 0;
      }
    }
    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .footer-address {
    p {
      margin: 0;

      & + p {
        margin-top: 5px;
      }
    }
  }

  .footer-statement {
    @include media-breakpoint-up(lg) {
      margin: 20px 0;
    }

    margin: 30px 0;
  }

  .footer__newsletter {
    h2 {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 1.2;
    }
    .form-inline {
      br {
        display: none;
      }

      input {
        @include media-breakpoint-up(sm) {
          margin: 0 !important;
          max-width: 100%;
        }
        @include media-breakpoint-down(sm) {
          height: 3rem;
        }

        margin: 0 auto !important;
        max-width: 90%;
      }

      .btn {
        @include media-breakpoint-up(md) {
          margin: 0 0 0 5px;
        }

        margin: 10px auto 20px;
        padding: rem-calc(9px) rem-calc(15px);
      }
    }
  }

  .footer__social {
    @include media-breakpoint-down(sm) {
      @include mb(2rem);
    }
    @include mt(2rem);

    a {
      color: $white;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.49px;
      line-height: 16px;
    }

    p {
      margin: 0;
    }
  }

  .footer__copyright {
    @include media-breakpoint-down(sm) {
      margin-bottom: rem-calc(80px);
    }

    border-top: 1px solid $white;
    padding-top: rem-calc(15px);
  }
}
