{#
/**
 * @file
 * Template for a page-footer component.
 */
#}


            <footer class="footer page__footer site-footer bg-dark full-bleed pt-6 text-white">
              <div class="container">
                <div class="footer__top row no-gutters">
                  <div class="footer__top-start col-12 col-lg-7">
										<div class="row text-center">
											<div class="col-12 col-sm-3 footer-logo">
                    <a href="/"><img src="{{ options.footer_logo }}" alt="NET Centers logo"></a>
										</div>
										<div class="col-12 col-sm-9 text-sm-left footer-address">
											{{ options.footer_address }}
										</div>
										</div>
										<div class="row text-center">
											<div class="col text-sm-left footer-statement">
												{{ options.footer_statement }}
											</div>

										</div>
                  </div>

										<div class="footer__top-end col-12 col-lg-4 offset-lg-1 text-center">
										<div class="footer__newsletter text-sm-left">
											{{ options.footer_newsletter }}
										</div>
                    <div class="footer__social text-sm-left">
											<strong>{{ options.footer_social }}</strong>
										</div>
										</div>
										</div>
										<div class="footer__middle row">
											<div class="footer__middle-start col-12">
                    <nav class="footer-menu-container container no-gutters" aria-label="Footer Menu">
                        <ul class="nav align-content-center">
                            {% for item in footer_menu.items %}
                                <li class="nav-item {{ item.classes|join(' ') }}">
                                    <a class="nav-link" href="{{ item.get_link }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
										</div>
										</div>

										<div class="row">
											<div class="col-12">
										<div class="py-3">
                    <div class="container no-gutters">
										<div class="footer__bottom text-white text-center">
                    <div class="footer__copyright text-md-left">
										  {{ options.footer_copyright_copy }}
										</div>
									</div>
									</div>
									</div>
									</div>
                  </div>
                </div>
              </div>
              {{ function('wp_footer') }}
            </footer>
