<button class="lg-search-close" data-toggle="search">
  <span>Close</span>
  <i aria-hidden="true" class="fas fa-close" title="Close"></i>
</button>
<form role="search" method="get" id="searchform" class="searchform" action="{{site.link}}">
  <div class="search-container">
    <label class="screen-reader-text" for="s">Search for:</label>
    <input type="text" class="form-search form-control" placeholder="Search" value="{{ function('get_search_query') }}" name="s" id="s" />
    <button type="submit">
      <i aria-hidden="true" class="fas fa-search" title="Search"></i>
      <span class="sr-only">Search</span>
    </button>
  </div>
</form>
