{# see `archive.twig` for an alternative strategy of extending templates #} {%
extends 'base.twig' %} {% block content %}
<div class="search-container container">
	<div class="search-heading container">
		<h2 class="title h1">Search Results</h2>
		<div class="search_menu desktop">
			Please use the “search box” at the top of the page to enter a new search
			keyword.
		</div>
		{% if posts is empty %}
		<p class="mt-7">There are no results for your query. Please update your search terms and try again.</p>
		{% endif %}
	</div>
	<div class="search-results full-bleed bg-gray">
		<div class="container inner-results-container">
			<div class="row results-row justify-content-center">
				<div class="col-lg-8">

			{% for post in posts %}
			<div
				class="card card-img-left {{ post.post_type }} search-result mb-4"
				id="teaser-{{ post.ID }}"
			>
				<a class="row justify-content-center align-items-start card-inner card-inner" href="{{ post.link }}">
					{% set news_image = Image(post.meta('news_featured_image')) %}
					{% set resource_image = Image(post.meta('resource_image')) %}
					{% set event_image = Image(post.meta('event_featured_image')) %}
					{% set page_banner = Image(post.meta('page_banner')) %}
					{% set generic_image = Image(post.meta('generic_featured_image')) %}
					{% if news_image|length or resource_image|length or event_image|length or page_banner|length or generic_image|length %}

					<div class="card-img-left col-md-5 col-lg-4">
						{% if resource_image|length %}
						<img src="{{ resource_image.src }}" alt="{{ resource_image.alt }}" class="img-fluid">
						{% endif %}
						{% if news_image|length %}
						<img src="{{ news_image.src }}" alt="{{ news_image.alt }}" class="img-fluid">
							{% endif %}
						{% if event_image|length %}
						<img src="{{ event_image.src }}" alt="{{ event_image.alt }}" class="img-fluid">
						{% endif %}
						{% if page_banner|length %}
						<img src="{{ page_banner.src }}" alt="{{ page_banner.alt }}" class="img-fluid">
						{% endif %}
						{% if generic_image|length %}
						<img src="{{ generic_image.src }}" alt="{{ generic_image.alt }}" class="img-fluid">
						{% endif %}
					</div>
					{% endif %}
					{% if news_image|length or resource_image|length or event_image|length or page_banner|length or generic_image|length %}
					<div class="card-body col-md-7 col-lg-8">
						{% else %}
						<div class="card-body col-12 result-no-image">
							{% endif %}
						<div class="card-title">
							<div class="card__face">
							<div class="card__eyebrow eyebrow">
								{% if post.type.name in ['news', 'resource', 'event'] %}
								{{ post.type }}
								{% endif %}
							</div>
							<h2 class="card__heading">{{ post.title }}</h2>
						</div>
						</div>
						<div class="field--body">
						{{ post.page_overview|truncate(30) }}
						{{ post.event_information|truncate(30) }}
						{{ post.news_excerpt|truncate(30) }}
						{{ post.resource_excerpt|truncate(30) }}
						{{ post.generic_article|truncate(30) }}
					</div>
					</div>


				</a>
			</div>
			{% endfor %}

		</div>
	</div>
	</div>
</div>
</div>
<div class="pagination full-bleed bg-gray">
	{{ wp_pagenavi }}
</div>

{% endblock %}
