// Custom styles for the search bar component.
//
// Override variables in 00-base/_variables.scss before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------

.search-toggler {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.searchform {
  @include media-breakpoint-down(md) {
    display: none;
    &.open {
      display: block;
    }
  }

  form {
    border-bottom: 2px solid transparent;

    &.focused {
      border-color: $brand-primary;

      .form-search {
        border-bottom-left-radius: 0;
      }

      .btn-primary {
        border-bottom-right-radius: 0;
      }
    }
  }

  .form-search {
    border-color: $input-border-color;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 0;

    &:focus {
      border-color: $input-border-color;
      box-shadow: none;
      //outline: -webkit-focus-ring-color auto 1px;
    }

    &:focus-visible {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }

  .form-actions {
    display: block !important;
    .form-submit {
      @include px(3);

      background: none;
      border-color: $input-border-color;
      border-left: 0;
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border-width: 1px;
      color: #6f6f6f;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      height: 38px;
      min-width: auto;
      padding-bottom: $input-padding-y;
      padding-top: $input-padding-y;

      &:active {
        background: #358dd4;
        color: $white !important;
      }
    }
  }

  .search-toggler {
    @include media-breakpoint-down(md) {
      align-items: center;
      background: transparent;
      border: 0;
      display: flex;
      flex-direction: column;
      height: 90px;
      justify-content: flex-end;
      padding: 10px;
      width: 72px;
      &.open {
        display: none;
      }
    }

    display: none;

    .search-toggler-icon {
      background-image: none;

      &:after {
        color: $white;
        content: "\f002";
        font-family: "FontAwesome";
        font-size: 1.6rem;
        font-weight: 900;
        padding: 6px 6px;
      }
    }

    .search-toggler-text {
      color: $white;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.79px;
      line-height: 15px;
      padding-top: .85rem;
      text-transform: uppercase;
      transform: translateY(-1px);
    }

    &:active {
      color: #6f6f6f;
    }
  }
}

.block--searchform-sm {
  @include media-breakpoint-down(sm) {
    display: block;
  }

  display: none;

  .form-inline {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .form-group {
    @include mb(0);

    flex-grow: 1;
  }

  .form-search {
    border: 0;
    width: 100%;
  }

  .form-actions {
    align-content: center;
    display: flex !important;
    flex-direction: row;

    .form-submit {
      @include pr(3);
      @include pl(1);

      background: transparent;
      border: 0;
      color: #6f6f6f;
      font-family: "Font Awesome 5 Free";
      font-size: 1.2rem;
      font-weight: 900;
      min-width: auto;
      padding-bottom: $input-padding-y;
      padding-top: $input-padding-y;

      &:active {
        background: #358dd4;
        color: $white !important;
      }
    }

    .search-close {
      @include pr(3);
      @include pl(1);

      background: $white;
      border: 0;
      color: #6f6f6f;
      padding-bottom: $input-padding-y;
      padding-top: $input-padding-y;
      &:before {
        @include material-icons;

        content: "close";
      }
    }
  }
}

.block--searchform-md {
  @include media-breakpoint-only(md) {
    display: block;
  }

  display: none;

  .form-inline {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .form-group {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .form-search {
    border: 0;
    width: 100%;
  }

  .form-actions {
    align-content: center;
    display: flex !important;
    flex-direction: row;
    .form-submit {
      @include px(3);

      background: transparent;
      border: 0;
      color: #6f6f6f;
      font-family: "Font Awesome 5 Free";
      font-size: 1.2rem;
      font-weight: 900;
      height: 39px;
      min-width: auto;
      padding-bottom: $input-padding-y;
      padding-top: $input-padding-y;

      &:active {
        background: #358dd4;
        color: $white !important;
      }
    }

    .search-close {
      @include pl(1);
      @include pr(3);

      background: $white;
      border: 0;
      color: #6f6f6f;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 16px;
      padding-bottom: $input-padding-y;
      padding-top: $input-padding-y;
      text-transform: uppercase;
    }
  }
}

.search-container {
  input {
    @include media-breakpoint-down(md) {
      border: none;
    }

    background: $white;
    border: 1px solid $dark;
    float: left;
    font-size: 16px;
    height: 40px;
    padding: 8px 11px;
    width: 244px;
  }
  button {
    @include media-breakpoint-down(md) {
      background: none;
      border: none;
      color: #6f6f6f;
      font-size: 24px;
    }

    background: transparent;
    border: 1px solid $input-border-color;
    border-left: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: $black;
    cursor: pointer;
    float: left;
    font-size: 17px;
    height: 40px;
    width: 40px;

    &:focus-visible {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
}


.toggler-menu {
  &.open {
    display: none !important;
  }
}

.close-search {
  display: none;
  &.open {
    @include media-breakpoint-up(lg) {
      display: none;
    }

    display: flex;
  }
  .close-search-button {
    background: none;
    border: none;
    color: #6f6f6f;
    cursor: pointer;
    font-size: 32px;
    padding: 0;
    padding-right: 1rem;
  }
}

nav.secondary-nav.search-open {
  @include media-breakpoint-down(sm) {
    border-bottom: none;

    .right-menu.open {
      background: $white;
      padding: 12px 0;
      position: absolute;
      z-index: 9999;

      & > * {
        z-index: 1;
      }

      &::before {
        background: $white;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 0;
      }

      &::after {
        background: $dark;
        content: "";
        display: block;
        height: 8px;
        position: fixed;
        top: 72px;
        width: 100%;
      }

      .search-container {
        button {
          background: transparent;
          color: #6f6f6f;
        }
      }
    }
  }
}

.lg-search-close {
  @include media-breakpoint-down(md) {
    display: none;
  }
}
