<div class="layout__row layout__row--bottom row full-bleed bg-info py-6">
	<div class="container">
	<div class="col layout__region layout__region--bottom-second">
		<div class="views-element-container">
			<div class="layout--card-grid view-news view-id-news view-display-id-news_more">
				<h2 class="view-title">Related Resources</h2>
				<div class="row">
					<div class="col order-md-first view-rows">
						<div class="card-container card-deck set-width">
						{% for post in related_resources %}
								<a href="{{post.link}}" class="card card--card-img-top card-img-top">
									<div class="card-img-top card-img">
										<div class="field field--field-image bundle--type-resource view-mode--featured">
											{% set image = Image(post.meta('resource_featured_image')) %}
											<img src="{{ image.src }}" alt="{{ image.alt }}" />
										</div>
									</div>
									<div class="bs-region bs-region--card-body card-body">
										<div class="bs-region bs-region--card-title card-title">
											<div class="card__face">
												<div class="card__eyebrow eyebrow">
												<div class="field field--node-resource-type bundle--type-resource">
													<div class="field__items">
														{% for term in post.terms('resource_type') %}
															 <div class="field__item">
																<a href="{{term.link}}">{{term.name}}</a>
															 </div>
														{% endfor %}
													</div>
												</div>
												<h3 class="card__heading h4 heading">
													<div class="field field--node-title bundle--type-news-post">
														{{post.title}}
													</div>
												</h3>

											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="field field--node-resource-type bundle--type-resource">
											<div class="field__items">
												{% for term in post.terms('topic') %}
													 <div class="field__item">
														<a href="{{term.link}}">{{term.name}}</a>
													 </div>
												{% endfor %}
											</div>
											</div>
										</div>

									</div>
								</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
