{#
/**
 * @file
 * Template for field_tags. Uses the 'badge' component from radix.
 * @TODO: Think on this 'badge' stuff a little.
 *
 */
#}

{#### Set variables ####}
{# Defaults #}
{% set wrapper = wrapper ?: 'div' %}
{% set title_wrapper = title_wrapper ?: 'div' %}
{% set title_classes = title_classes ?: [] %}
{% set title_classes = title_classes|merge([
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]) %}
{# Modifiers #}
{% set modifiers = modifiers ?: [] %}
{% set modifiers = modifiers|merge([
  field_name_clean|clean_class,
]) %}
{# Blockname #}
{% set blockname = blockname ?: [] %}
{# Utilities #}
{% set utilities = utilities ?: [] %}
{# Utilities #}
{% set utilities = utilities|merge([
  'bundle--type-' ~ bundle|clean_class,
  label_display == 'inline' ? 'd-flex',
]) %}

{#### Build markup #####}
{% if label_hidden %}
  <{{ wrapper }}{{ bem('field', modifiers, blockname, utilities) }}>
    {% for item in items %}
      {% include '@radix/badge/badge.twig' with {
        type: 'light',
        content: item.content['#title'],
        url: item.content['#url'],
      } %}
    {% endfor %}
  </{{ wrapper }}>
{% else %}
  <{{ wrapper }}{{ bem('field', modifiers, blockname, utilities) }}>
    <{{ title_wrapper }}{{ title_attributes.addClass(title_classes) }}>
      {{ label }}{% if label_display == 'inline' %}<span class="field__label__suffix mr-1">:</span>{% endif %}
    </{{ title_wrapper }}>
    {% for item in items %}
      {% include '@radix/badge/badge.twig' with {
        type: 'light',
        content: item.content['#title'],
        url: item.content['#url'],
      } %}
    {% endfor %}
  </{{ wrapper }}>
{% endif %}
