// Custom style for the page header component.
// -----------------------------------------------------------------------------
html,
body {
  height: 100%;
  margin: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body:not(.mce-content-body) {
  // border-top: 16px solid #011f5b;
}
.alert {
  border-radius: 0;
  margin-bottom: 0;
  padding: 1.5rem 1.25rem;
  text-align: center;
  .alert-content {
    font-family: $headings-font-family;
    margin: 0 auto;
    max-width: 75%;
  }
  a {
    text-decoration: none;
  }
  &.alert-success {
    background-color: $success;
    border-color: $success;
    color: $success;
  }
  &.alert-info {
    background-color: $info;
    border-color: $info;
    color: $info;
  }
  &.alert-warning {
    background-color: $warning;
    border-color: $warning;
    color: $warning;
  }
  &.alert-danger {
    background-color: $danger;
    border-color: $danger;
    color: $danger;
  }
}

.page-header {
  > .container {
    align-items: center;
    display: flex;
  }
}

.block--secondarynavigation {
  @include media-breakpoint-down(md) {
    display: none;
    flex-grow: 1 !important;
  }

  ul {
    > .nav-item {
      > .nav-link {
        @include secondary-menu-item-text;
        @include hover-focus {
          > span {
            @include text-snakeline($color: $dark, $size: 1px);
          }
        }

        padding: rem-calc(17px) rem-calc(15px);

        &.is-active > span {
          @include text-snakeline($color: $dark, $size: 1px);

          background-size: 100% 1px;
          text-decoration: none;
        }
      }

      &:last-child .nav-link {
        padding-right: rem-calc(30px);
      }
    }
    > .nav-item.active > .nav-link {
      color: $dark;
    }
  }
}

.navbar {
  @include media-breakpoint-down(md) {
    // min-height: 127px;
    .navbar-toggler {
      border-color: transparent;
      font-size: 1.75rem;
    }
  }

  width: 100%;
  &.primary-nav {
    @include media-breakpoint-down(md) {
      height: 8px;
      .container {
        display: none;
      }
    }

    height: 5rem;
    padding-top: 0;
  }
  &.secondary-nav {
    padding-bottom: 0;
  }
  .navbar-toggler {
    @include media-breakpoint-down(md) {
      align-items: center;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      height: 90px;
      justify-content: flex-end;
    }

    display: none;
  }
  [aria-expanded="false"] {
    .navbar-toggler-icon {
      &:after {
        content: "\f0c9";
      }
    }
  }
  .navbar-toggler-icon {
    background-image: none;
    &:after {
      color: $white;
      content: "\f00d";
      font-family: "FontAwesome";
      font-size: 1.6rem;
      font-weight: 900;
      padding: 6px 9px;
    }
  }
  &.search-open {
    @include media-breakpoint-down(md) {
      border-bottom: 2px solid $brand-dark;
      padding-bottom: 16px;
    }

    border-bottom: 8px solid $dark;
    margin-bottom: 100vh;
  }
  &.navbar-light {
    background-color: $white;
    color: $dark;
    .navbar-toggler-icon {
      &:after {
        color: $dark;
      }
    }
    .toggler-label {
      color: $dark;
      display: none;
    }
    a {
      border-bottom: 1px solid transparent;
      color: $dark;
      text-decoration: none;
      &.navbar-brand {
        &:hover,
        &:focus {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
  &.navbar-dark {
    background-color: $dark;
    color: $white;
    .navbar-toggler-icon {
      &:after {
        color: $white;
      }
    }
    .toggler-label {
      color: $white;
      display: none;
    }
    a {
      color: $white;
      text-decoration: none;
    }
  }
  .navbar-brand {
    margin-right: 0;
    z-index: 1000;
    img.nav-fccp-logo {
      height: 73px;
      @media (min-width: 1200px) {
        border-right: 1px solid black;
      }
      @media (min-width: 386px) and (max-width: 466px) {
        height: 73px;
      }
      @media (max-width: 385px) {
        height: 70px;
      }
      @media (max-width: 352px) {
        height: 60px;
      }
      @media (max-width: 337px) {
        height: 50px;
      }
      @media (max-width: 290px) {
        height: 40px;
      }
    }
    img.nav-upenn-logo {
      height: 50px;
      margin-left: 12px;
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
  .searchform {
    list-style: none;
  }
  .menu-top-menu {
    @include media-breakpoint-down(md) {
      flex-grow: 0;
    }

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    z-index: 1000;
    .menu-item-object-custom {
      .nav-link {
      }
    }
    &.mobile {
      display: none;
    }
    &.primary {
      @include media-breakpoint-down(md) {
        height: auto;
        width: 100%;
      }

      height: 5rem;
      .main-nav {
        height: 100%;
        justify-content: space-between;
        padding-left: 0;

        &.container {
          padding: 0 !important;
        }
        .nav-item {
          @include media-breakpoint-down(md) {
            justify-content: flex-start;
            &.current-menu-item {
              background-color: $white;
            }
          }

          align-items: flex-start;
          height: 100%;
          justify-content: center;
          position: relative;
          width: 100%;

          &:focus-within {
            .nav-drop {
              display: flex;
            }
          }
          .navbar-accordion {
            display: flex;
            justify-content: center;
            .accordion-title-container {
              display: flex;
              justify-content: center;
            }
          }
          &:not(:last-of-type):hover,
          &:not(:last-of-type):focus {
            cursor: pointer;
          }
          .nav-link {
            @include main-menu-item-text;
            @include media-breakpoint-up(xxl) {
              padding: .5rem 40px;
            }

            color: $black;
            padding: .5rem 30px;
            text-align: center;
            white-space: nowrap;
          }
          a {
            @include media-breakpoint-down(md) {
              justify-content: flex-start;
              &:hover,
              &:focus {
              }
            }

            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 100%;
            &:hover,
            &:focus {
            }
          }
        }

        .menu-item-has-children {
          @include hover-focus {
            &::after {
              transform: translateY(-50%) scaleY(-1);
            }
          }
          &::after {
            @include media-breakpoint-up(xxl) {
              right: 20px;
            }
            @include media-breakpoint-down(md) {
              content: none;
            }

            content: "\f078";
            font-family: "FontAwesome";
            font-size: .8rem;
            font-weight: 700;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%) scaleY(1);
          }
        }

        .nav-item-search {
          margin-left: 10px;
          width: 44px;

          a {
            display: block;
            overflow: hidden;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            text-indent: -999px;

            &::after {
              content: "\f002";
              display: block;
              font-family: "FontAwesome";
              font-size: 1.2rem;
              font-weight: 900;
              text-align: center;
              text-indent: 0;
              width: 44px;
            }
          }
        }

        .nav-item:last-child {
          padding: 15px 10px;

          .nav-link {
            background: $blue;
            border: 2px solid $blue;
            color: $white;
            transition: all .3s ease-in-out;

            &:hover {
              background: $white;
              color: $dark;
              text-decoration: none;
            }
          }
        }
      }
    }
    &.secondary {
      .main-nav.container {
        padding-right: 0;
      }
    }
    .main-nav {
      align-items: center;
      display: flex;
      list-style: none;
      margin-bottom: 0;
      width: 100%;
      .nav-item {
        @include media-breakpoint-down(md) {
          &:hover,
          &:focus {
            > .nav-drop {
              display: none !important;
            }
          }
        }

        display: flex;
        justify-content: flex-start;
        z-index: 10;
        &.mobile-only {
          display: none;
        }
        &:hover,
        &:focus {
          > .nav-drop {
            display: flex;
          }
        }
        .nav-drop {
             -moz-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.25);
          -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.25);
                  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.25);
          display: none;
          flex-direction: column;
          list-style-type: none;
          margin-top: 4rem;
          min-width: 300px;
          padding-left: 0;
          position: absolute;
          z-index: 10000;
          .nav-drop-item {
            background-color: $white;
            border-radius: 0;
            max-width: 100%;
            padding: 1rem 40px;
            text-align: center !important;
            width: 100%;
            a {
              @include media-breakpoint-up(lg) {
                justify-content: center;
              }

              align-items: flex-start;
              color: $black;
              font-size: 14px;
              font-weight: 600;
              letter-spacing: normal;
              line-height: 20px;
              text-transform: uppercase;
            }
            &:hover,
            &:focus {
              background-color: #efefef;
              cursor: pointer;
              a {
                background-color: transparent;
                color: $black;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .right-menu {
    @include media-breakpoint-up(lg) {
      background: $white;
      height: 200px;
      left: 0;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transition: all .3s ease-in-out;
      width: 100%;
      z-index: 9999;
    }
    @include media-breakpoint-down(md) {
      flex-direction: row-reverse;
      &.open {
        justify-content: flex-start;
        padding-top: 24px;
        width: 100%;
        .menu-top-menu {
          visibility: hidden;
        }
        .menu-item-object-custom {
          visibility: hidden;
        }
        .searchform {
          width: 100%;
          .search_menu {
            width: 100%;
          }
          .search-container {
            display: inline-flex;
            padding-right: 24px;
            width: 100%;
            input {
              font-size: 1rem;
              width: calc(100%);
            }
          }
        }
      }
      .fa-times {
        //-webkit-text-stroke: 1px white;
      }
      .toggler-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.close-label {
          .menu-label {
            display: none;
          }
          .close-label {
            display: flex !important;
          }
        }
        .navbar-toggler {
          padding: 0 10px 10px;
          width: 72px;
        }
        .toggler-label {
          color: $white;
          display: flex;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.79px;
          line-height: 15px;
          padding-left: 3px;
          padding-top: 2px;
          text-align: center;
          text-transform: uppercase;
          &.close-label {
            display: none;
          }
        }
      }
      .navbar-collapse {
        @include media-breakpoint-down(md) {
          margin-top: -29px;
        }

        align-items: flex-start;
        background-color: white;
        bottom: 0;
        display: none;
        height: 100vh;
        left: 0;
        overflow: scroll;
        position: absolute;
        right: 0;
        top: 140px;
        width: 100%;
        z-index: 100000;
        .menu-top-menu {
          background-color: $white;
          display: none;
        }
        &.show {
          display: flex;
          flex-direction: column;
          .menu-top-menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .main-nav {
              align-items: flex-start;
              display: flex;
              flex-direction: column;
              height: 100%;
              justify-content: flex-start;
              list-style: none;
              margin-bottom: 0;
              padding-left: 1rem;
              .nav-item {
                display:         block;
                display: -webkit-block;
                height: auto;
                justify-content: flex-start;
                padding: 1rem;
                width: 100%;
                a {
                  height: auto;
                }
                .navbar-accordion {
                  justify-content: flex-start;
                }
                &.menu-item-has-children {
                  .nav-link {
                    display: flex;
                    justify-content: space-between;
                    width: 50%;
                  }
                  .navbar-accordion {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .accordion-title-container {
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-between;
                      width: 100vw;
                    }
                    .navbar-menu-toggler {
                      background-color: transparent;
                      border: none;
                      display: flex;
                      justify-content: flex-end;
                      position: relative;
                      width: 50%;
                      .navbar-menu-toggler-icon {
                        color: $dark;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);

                        &:after {
                          content: "\f107";
                          font-family: "Font Awesome 5 Free";
                          font-size: 1.5rem;
                          font-weight: 900;
                        }
                      }
                      &.rotate {
                        .navbar-menu-toggler-icon {
                          &:after {
                            content: "\f106";
                            font-family: "Font Awesome 5 Free";
                            font-size: 1.6rem;
                            font-weight: 900;
                          }
                        }
                      }
                    }
                  }
                }
                .nav-link {
                  color: $dark;
                  font-family: "Mulish";
                  font-size: 2.2rem;
                  font-weight: 800;
                  letter-spacing: 0.02rem;
                  line-height: 1.75rem;
                  padding: 0;
                }
                .nav-drop {
                  border: none;
                  display: none;
                  padding-top: 0.625rem;
                  position: relative;
                  &.open {
                    box-shadow: none;
                    display: flex;
                    margin-top: 0;
                    min-width: 100%;
                  }
                  .nav-drop-item {
                    a {
                      font-size: 1rem;
                      line-height: 1.25rem;
                    }
                    &:last-of-type {
                      padding-bottom: 0;
                    }
                  }
                  li {
                    text-align: left;
                  }
                }
                .nav-link {
                  @include media-breakpoint-up(md) {
                    color: $dark;
                  }

                  color: $black;
                  font-size: 1rem;
                  font-size: 1rem;
                  font-weight: 700;
                  letter-spacing: 1.23px;
                  line-height: 1.25rem;
                  padding: 0;
                  text-transform: uppercase;
                }
              }
              .nav-item-search {
                @include media-breakpoint-down(md) {
                  display: none;
                }
              }
              .nav-item:last-child {
                .navbar-accordion {
                  justify-content: center;
                }

                a.nav-link {
                  @include p(14px 20px);
                  @include hover-focus {
                    background: $white;
                    color: $blue;
                  }

                  background: $blue;
                  border-color: $blue;
                  color: $white;
                  display: inline-block;
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
    @include media-breakpoint-down(xs) {
      .navbar-collapse {
        .menu-top-menu {
          width: 100vw !important;
        }
      }
    }

    display: flex;
  }
}

.site-header {
  @include media-breakpoint-up(lg) {
    border-width: 2px;
  }

  border-bottom: 8px solid $blue;

  .site-header__wrapper {
    @include media-breakpoint-up(lg) {
      align-items: center;
      display: grid;
      grid-gap: 24px;
      grid-template-columns: repeat(12, 1fr);

      .navbar,
      .navbar > .container {
        display: contents;
      }

      .navbar-brand {
        grid-column: 1 / 2;
        grid-row: 1;
      }

      .primary {
        grid-column: 2 / -1;
        grid-row: 1;
      }
    }

    margin: 0 auto;
    max-width: 1140px;
  }
}

@include media-breakpoint-up(lg) {
  .navbar.secondary-nav {
    #navbarSupportedContent {
      display: none !important;
    }

    div.searchform {
      margin: 0 auto;
      max-width: 1110px;
      width: 100%;

      .search_menu {
        border-bottom: 1px solid $black !important;
        padding-bottom: 10px;
        width: 100%;

        .lg-search-close {
          background: transparent;
          border: none;
          color: $gray-600;
          float: right;
          margin-bottom: 50px;
          text-transform: uppercase;

          i {
            margin-left: 10px;
          }
        }

        .form-search {
          border: none;
          font-size: 2rem;
          padding: 0;
          width: calc(100% - 50px);
        }

        button[type="submit"] {
          background: transparent;
          border: none;
          color: $gray-600;
          font-size: 1.25rem;
          width: 50px;
        }
      }
    }
  }
}

.lg-search-active {
  .navbar .right-menu {
    max-height: 200px;
  }
}
