{#
/**
 * @file
 * Template for a page-header component.
 */
#}

			 <header class="site-header">
        <div class="site-header__wrapper">
        <nav class="navbar navbar-expand-lg secondary-nav" aria-label="Secondary navigation">
          <div class="container">
            <a href="/" class="navbar-brand" tabindex="0">
              <img class="nav-logo" src="{{options.header_logo}}" alt="FCCP Logo">
            </a>
            <div class="right-menu">
              <div class="toggler-container toggler-menu">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  <span class="toggler-label menu-label">Menu</span>
                  <span class="toggler-label close-label">Close</span>
                </button>
              </div>
              <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <div class="menu-top-menu primary mobile">
                  <ul class="main-nav container">
                    {% for item in primary_menu.items %}
                    <li class="nav-item {{ item.classes|join(' ') }}">
                      <div class="navbar-accordion">
                    {% if item.children %} <div class="accordion-title-container" aria-expanded="true"> {% endif %}
                      <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
                      {% if item.children %}
                        <button class="navbar-menu-toggler" type="button" data-toggle="menu-collapse" data-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation item">
                          <span class="navbar-menu-toggler-icon"></span>
                        </button>

                        <ul class="nav-drop">
                            {% for child in item.children %}
                                <li class="nav-drop-item">
                                    <a href="{{ child.link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        </div>
                      {% endif %}
                      </div>
                        {% if item.children %}

                        {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="menu-top-menu secondary block block--secondarynavigation">
                  <ul class="main-nav container">
                      {% for item in secondary_menu.items %}
                    <li class="nav-item {{ item.classes|join(' ') }} {{ item.current ? 'active' : '' }}">
                              <a class="nav-link {{ item.current ? 'is-active' : '' }}" href="{{ item.link }}"><span>{{ item.title }}</span></a>
                              {% if item.children %}
                                  <ul class="nav-drop">
                                      {% for child in item.children %}
                                          <li class="nav-drop-item">
                                              <a href="{{ child.link }}"><span>{{ child.title }}</span></a>
                                          </li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                          </li>
                      {% endfor %}
                  </ul>
                </div>

              </div>

              {% if options.search_functionality == 'yes' %}
                <div class="close-search">
                  <button id="close-toggle" class="close-search-button" aria-expanded="false" aria-label="Close search"><i class="fas fa-times"></i></button>
                </div>
                <div class="searchform nav toggler-container align-content-center">
                  <div class="nav-item search_menu">{{ function('do_shortcode', ''~ options.ivory_search_shortcode ~'') }}</div>
                  <button class="search-toggler" id="search-toggle" aria-expanded="false" aria-label="Toggle search">
                    <span class="search-toggler-icon"></span>
                    <span class="search-toggler-text">
                      <span class="collapsed">Search</span>
                    </span>
                  </button>
                </div>
              {% endif %}
            </div>
          </div>
        </nav>
        <nav class="navbar navbar-expand-lg primary-nav" aria-label="Primary navigation">
          <div class="container">
            <div class="menu-top-menu primary">
              <ul class="main-nav">
                {% for item in primary_menu.items %}
                    <li class="nav-item {{ item.classes|join(' ') }}">
                        <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
                        {% if item.children %}
                            <ul class="nav-drop">
                                {% for child in item.children %}
                                    <li class="nav-drop-item">
                                        <a href="{{ child.link }}">{{ child.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </nav>
        {% if options.alert_message %}
          <div class="alert {{ options.alert_level }} alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <div class="alert-content">
              {{ options.alert_text }}
            </div>
          </div>
        {% endif %}
        </div>
				</header>
