// Custom styles for the cta component.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: @todo
// -----------------------------------------------------------------------------


.band__cta {
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
  @include mt(5);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: rem-calc(16px);

  .cta--primary {
  }

  .cta--secondary {
  }
}
