// Landing page
// -----------------------------------------------------------------------------
.home {
  .navbar .menu-top-menu.primary .main-nav .nav-item::after,
  .navbar .menu-top-menu.primary .main-nav .nav-item .nav-link {
    @include media-breakpoint-up(md) {
      color: $white;
    }
  }

  .post-type-page {
    .layout__row--top {
      display: none !important;
    }
    .layout__region--main {
      .band--billboard:first-child {
        .field--field-pg-image {
          img {
            @include media-breakpoint-up(md) {
              max-height: 850px;
            }

            max-height: 700px;
          }
        }
        .band__region--band-content {
          @include media-breakpoint-up(md) {
            padding-top: 10rem;
          }

          padding-top: 8rem;
        }
      }
    }
  }

  .page {
    > header {
      background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
      border-bottom: 1px solid rgba($white, .5);
      position: absolute;
      width: 100%;
      z-index: 10;

      .navbar {
        &-brand {
          img {
            filter: invert(1) grayscale(1) brightness(100);
          }
        }
      }
    }
  }
}




.node--type-landing-page {
  &.node--view-mode-full {
    &.layout--no-media {
    }

    .layout__row--top {
      flex-direction: column;
    }

    .layout__region--title-region {
      .eyebrow {
        color: #011f5b;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 24px;
        text-transform: uppercase;
      }

      h1 {
        color: $white;
        margin-bottom: 16px;
      }

      .mustache {
        color: #011f5b;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 21px;
        margin-bottom: 14px;
        text-align: center;
      }
    }

    .layout__region--title-region,
    .layout__region--top-second {
      @include full-bleed;

      background-color: $blue;
      color: $white;
      max-width: initial;
    }

    .layout__region--top-second {
      margin-top: -48px;
      padding-bottom: rem-calc(90px);
      .field--body {
        @include media-breakpoint-up(md) {
          margin-left: 15% !important;
          margin-right: 15% !important;
        }
      }
    }

    .field--body.bundle--type-landing-page {
      @include lead-copy;
      @include media-breakpoint-up(md) {
        @include make-col(10);
        @include make-col-offset(1);
      }

      font-size: 20px;
      letter-spacing: 0;
      line-height: 30px;
    }

    .field--field-image.bundle--type-landing-page {
      img {
        @include media-breakpoint-up(md) {
          max-height: 354px;

          aspect-ratio: 16 / 10;
        }
        @include media-breakpoint-up(sm) {
          aspect-ratio: 4 / 3;
        }

        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }
  }

  &.node--view-mode-teaser {
  }
  &.node--view-mode-featured {
  }

  dl,
  dd:last-child {
    margin-bottom: 0;
  }
}

.field--field-image.bundle--type-landing-page.view-mode--teaser {
  @include media-breakpoint-down(sm) {
    margin-top: 2rem;
  }
}

.focus-areas-page {
  .layout__region--top-second {
    padding-bottom: 0 !important;
  }
  .bs-region--main .band--view-container {
    padding-top: 1px !important;
  }
}
