// Custom styles for the pager component.
//
// Override variables in 00-base/_variables.scss before customizing here.
//
// MA Component Library: @todo
// Bootstrap Doc: https://getbootstrap.com/docs/4.5/components/pagination/
// -----------------------------------------------------------------------------

.pager__items {
  @include media-breakpoint-up(md) {
    @include make-col(8);
    @include make-col-offset(2);
  }

  margin-top: 3rem;

  .page-link {
    font-size: 1rem;
    font-weight: 800;
    border: none;
    color: $black;

    @include hover-focus {
      background: transparent;
    }
  }

  .pager__item {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: rem-calc(42px);
    height: rem-calc(42px);
    &.is-active {
      border: 2px solid $black;


      .page-link {
        background: transparent;
        color: $black;
      }
    }
  }

  .pager__item--first {
    .page-link {

      [aria-hidden='true'] {
        &:before {
         @include material-icons;

          content: 'chevron_left chevron_left';
          font-size: 1.5rem;
          letter-spacing: -10px;
        }
      }
    }
  }

  .pager__item--previous {
    .page-link {

      [aria-hidden='true'] {
        &:before {
         @include material-icons;

          content: 'chevron_left';
          font-size: 1.5rem;
        }
      }
    }
  }

  .pager__item--next {
    .page-link {

      [aria-hidden='true'] {
        &:before {
         @include material-icons;

          content: 'chevron_right';
          font-size: 1.5rem;
        }
      }
    }
  }

  .pager__item--last {
    .page-link {

      [aria-hidden='true'] {
        &:before {
         @include material-icons;

          content: 'chevron_right chevron_right';
          font-size: 1.5rem;
          letter-spacing: -10px;
        }
      }
    }
  }
}
