@mixin page-title {
  @include text-typography(
  $family: $c-page-title-font-family,
  $size: $c-page-title-font-size-xs,
  $weight: 600,
  $ls: 0,
  $lh: 32px,
  );
  @include media-breakpoint-up(md) {
    @include text-typography(
    $size: $c-page-title-font-size-md,
    $ls: 0.14px,
    $lh: 48px
    );
  }
  @include media-breakpoint-up(lg) {
    @include text-typography(
    $size: $c-page-title-font-size-lg
    );
  }
  @include media-breakpoint-up(xl) {
    @include text-typography(
    $size: $c-page-title-font-size
    );
  }
}

@mixin primary-heading {
  @include text-typography(
  $family: $font-family-base,
  $size: 24px,
  $weight: 600
  );
  @include media-breakpoint-up(md) {
    @include text-typography($size: $h2-font-size);
  }
}

@mixin secondary-heading {
  @include text-typography(
  $family: $font-family-base,
  $size: 22px,
  $weight: 600
  );
  @include media-breakpoint-up(md) {
    @include text-typography($size: $h3-font-size);
  }
}

@mixin tertiary-heading {
  @include text-typography($size: 18px);
  @include media-breakpoint-up(md) {
    @include text-typography($size: $h4-font-size);
  }
}

@mixin quaternary-heading {
  @include text-typography($size: 16px);
  @include media-breakpoint-up(md) {
    @include text-typography($size: $h5-font-size);
  }
}

@mixin quinary-heading {
  @include text-typography($size: 14px);
  @include media-breakpoint-up(md) {
    @include text-typography($size: $h6-font-size);
  }
}

@mixin section-heading {
  @include text-typography(
  $family: $headings-font-family,
  $size: 30px,
  $weight: 600,
  $ls: 0,
  $lh: 38px,
  );
  @include media-breakpoint-up(md) {
    @include text-typography($size: 48px, $ls: 0.75px, $lh: 68px);
  }

  color: $brand-dark;
}

.section-heading {
  @include section-heading();
  @include mb(5);
}

@mixin blockquote-copy {
  @include text-typography(
  $size: 17px,
  $weight: 600,
  $ls: 0.12px,
  $lh: 24px
  );
  @include media-breakpoint-up(md) {
    @include text-typography(
    $size: 19px,
    $ls: 0.16px,
    $lh: 30px
    );
  }

  font-style: italic;
}

@mixin lead-copy {
  @include text-typography($size: 17px, $weight: 400, $ls: 0.12px, $lh: 28px);
  @include media-breakpoint-up(md) {
    @include text-typography($size: 22px, $weight: 400, $ls: 1px, $lh: 36px);
  }
}

@mixin eyebrow {
  @include text-typography(
  $family: $font-family-base,
  $size: 14px,
  $weight: 700,
  $ls: normal,
  $lh: 24px
  );
  @include media-breakpoint-up(md) {
  }

  color: $brand-dark;
}

// Navigation

@mixin main-menu-item-text {
  @include text-typography(
  $size: 16px,
  $weight: 600,
  $ls: 1.7px,
  $lh: 20px,
  $tt: uppercase
  );
  @include media-breakpoint-up(md) {
  }
}

@mixin secondary-menu-item-text {
  @include text-typography($size: 16px, $weight: 600, $ls: 0.25px, $lh: 20px);
  @include media-breakpoint-up(md) {
  }

  color: $black;
}

@mixin subnav-menu-heading {
  @include text-typography(
  $family: $headings-font-family,
  $size: 22px,
  $weight: 600,
  $lh: 32px,
  );
}

@mixin subnav-menu-item-text {
  @include text-typography($size: 20px, $weight: 700, $ls: 0.71px, $lh: 24px);
}

// Card

@mixin card-heading {
  @include text-typography(
  $family: $headings-font-family,
  $size: 24px,
  $weight: 400,
  $ls: 0,
  $lh: 32px,
  );
  @include media-breakpoint-up(md) {
  }
}

@mixin card-eyebrow {
  @include text-typography(
  $family: $c-card-eyebrow-font-family,
  $size: $c-card-eyebrow-font-size,
  $weight: $c-card-eyebrow-font-weight,
  $ls: $c-card-eyebrow-letter-spacing,
  $lh: $c-card-eyebrow-line-height,
  $tt: $c-card-eyebrow-text-transform
  );
  @include media-breakpoint-up(md) {
  }

  background: $teal;
}

@mixin card-mustache {
  @include text-typography(
  $family: $c-card-mustache-font-family,
  $size: $c-card-mustache-font-size,
  $weight: $c-card-mustache-font-weight,
  $ls: $c-card-mustache-letter-spacing,
  $lh: $c-card-mustache-line-height,
  $tt: $c-card-mustache-text-transform
  );
  @include media-breakpoint-up(md) {
  }
}

// Billboard

@mixin billboard-heading {
  @include text-typography(
  $family: $c-billboard-heading-font-family,
  $size: $c-billboard-heading-font-size,
  $weight: $c-billboard-heading-font-weight,
  $ls: $c-billboard-heading-letter-spacing,
  $lh: $c-billboard-heading-line-height
  );
  @include media-breakpoint-up(md) {
    @include text-typography($size: 48px, $ls: 0.97px, $lh: 56px);
  }
  @include media-breakpoint-up(xl) {
    @include text-typography($size: 60px, $ls: 0.97px, $lh: 72px);
  }

  color: $c-billboard-heading-color;
}

@mixin billboard-lead {
  @include text-typography(
  $family: $c-billboard-lead-font-family,
  $size: $c-billboard-lead-font-size,
  $weight: $c-billboard-lead-font-weight,
  $ls: $c-billboard-lead-letter-spacing,
  $lh: $c-billboard-lead-line-height
  );
  @include media-breakpoint-up(md) {
    @include text-typography($size: 22px, $ls: 0.92px, $lh: 32px);
  }

  color: $c-billboard-lead-color;
}

@mixin signpost-heading {
  @include text-typography(
  $family: $c-signpost-heading-font-family,
  $size: $c-signpost-heading-font-size,
  $weight: $c-signpost-heading-font-weight,
  $ls: $c-signpost-heading-letter-spacing,
  $lh: $c-signpost-heading-line-height
  );
}

@mixin signpost-body {
  @include text-typography(
  $family: $c-signpost-body-font-family,
  $size: $c-signpost-body-font-size,
  $weight: $c-signpost-body-font-weight,
  $ls: $c-signpost-body-letter-spacing,
  $lh: $c-signpost-body-line-height
  );
  @include media-breakpoint-up(md) {
    @include text-typography($size: 18px, $ls: 0.75px);
  }
}

@mixin story-heading {
  @include text-typography(
  $family: $c-story-heading-font-family,
  $size: $c-story-heading-font-size,
  $weight: $c-story-heading-font-weight,
  $ls: $c-story-heading-letter-spacing,
  $lh: $c-story-heading-line-height
  );
  @include media-breakpoint-up(md) {
    @include text-typography($size: 32px, $lh: 48px);
  }

  color: $c-story-heading-color;
}

@mixin story-no-media-heading {
  @include text-typography(
  $family: $c-story-heading-font-family,
  $size: $c-story-heading-font-size,
  $weight: $c-story-heading-font-weight,
  $ls: $c-story-heading-letter-spacing,
  $lh: $c-story-heading-line-height
  );
  @include media-breakpoint-up(md) {
    @include text-typography($size: 32px, $lh: 48px);
  }
  @include media-breakpoint-up(xl) {
    @include text-typography($size: 40px);
  }

  color: $c-story-no-media-heading-color;
}

@mixin story-body {
  @include text-typography(
  $family: $c-story-body-font-family,
  $size: $c-story-body-font-size,
  $weight: $c-story-body-font-weight,
  $ls: $c-story-body-letter-spacing,
  $lh: $c-story-body-line-height
  );
  @include media-breakpoint-up(md) {
    @include text-typography($size: 20px);
  }

  color: $c-story-body-color;
}

@mixin story-no-media-body {
  @include text-typography(
  $family: $c-story-body-font-family,
  $size: $c-story-body-font-size,
  $weight: $c-story-body-font-weight,
  $ls: $c-story-body-letter-spacing,
  $lh: $c-story-body-line-height
  );
  @include media-breakpoint-up(md) {
    @include text-typography($size: 20px);
  }

  color: $c-story-no-media-body-color;
}


.field--field-links,
.field--field-files,
.metadata {
  .field__label {
    border-bottom: 1px solid #979797;
    color: $black;
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.25px;
    line-height: 24px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding-bottom: 0.25rem;
    text-transform: uppercase;
  }

  .field__item {
    font-family: Roboto;
    font-weight: bold;
  }
}

.field--body.view-mode--full {
  h2,
  h3,
  h4,
  h5,
  h6,
  table {
    @include mt(5);
    @include mb(3);

    &::last-child {
      @include mb(0);
    }

    &::first-child {
      @include mb(0);
    }
  }
}

.lead.text-center {
  ol,
  ul {
    @include mx(auto);

    display: table;
    text-align: left;
  }
}
