{#
/**
 * @file
 * Theme override for gridnav implementation.
 *
 * TODO: This is not an ideal way to implement this.
 *
 * Primarily used to display child pages on landing pages. 'gridnav' as a
 * theme suggestion can be configured in the ui, on a menu block or a display
 * suite field implementation of a menu block.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - img_info: Array containing info on image associated with menu link:
 *     - uri: Image uri.
 *     - url: Image url, publicly accessible.
 *     - path: Image path, internal.
 *     - width: Original image width.
 *     - height: Original image height.
 *     - render: Image render array.
 *     - style: Array with img_info processed by an image style.
 *
 * @see function ma_bootstrap_preprocess_menu().
 *
 * @ingroup templates
 */
#}
{% if items %}
  {% set card_type = card_type ?: 'card-img-bg' %}
  <div class="card-container card-container--grid card-deck">
    {%  for item in items %}
      {% include 'wpsprout/03-organisms/card/card.twig' with {
        utilities : [
          'gridnav-item',
        ],
        card_type: card_type,
        has_media: item.img_info is not empty ? true,
        display_type: 'display-featured',
        heading_utilities: ['h4'],
        card_inner: {
          wrapper: (card_type == 'card-img-bg' and item.path) ? 'a',
          attributes: (card_type == 'card-img-bg' and item.path) ? create_attribute({'href': item.path}),
        },
        card_image: {
          content: item.img_info.style ? item.img_info.style.render,
          wrapper: (card_type == 'card-img-top' and item.path) ? 'a',
          attributes: (card_type == 'card-img-top' and item.path) ? create_attribute({'href': item.path}),
        },
        card_title: {
          content: item.title ? item.title,
          wrapper: (card_type == 'card-img-top' and item.path) ? 'a',
          attributes: (card_type == 'card-img-top' and item.path) ? create_attribute({'href': item.path}),
        },
        card_body: {
          content: item.body ? item.body,
        },
      } %}
    {% endfor %}
  </div>
{% endif %}
