// Custom styles for the button component.
//
// Override variables in 00-base/01-variables before customizing here.
//
// MA Component Library: https://zeroheight.com/0a635880c/p/26a36f-button
// Bootstrap Doc: https://getbootstrap.com/docs/4.5/components/buttons/
// -----------------------------------------------------------------------------

button {
  &:focus {
    outline: none;
  }
}

.btn {
  @include media-breakpoint-down(sm) {
    @include p(12px 20px);
  }
  @include p(14px 20px);

  letter-spacing: 1.23px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &.btn-primary {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-secondary {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }

    border-color: $primary;
    color: $primary;
  }

  &.btn-success {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-danger {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-warning {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-info {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-light {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-dark {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-link {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-primary {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-secondary {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-success {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-danger {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-warning {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-info {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-light {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }

  &.btn-outline-dark {
    @include hover {
    }
    @include active {
    }
    @include focus {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
  }
}

%btn-primary {
  @include hover-focus {
    background: $white;
    color: $blue;
  }

  background: $blue;
  border-color: $blue;
  color: $white;

  &:disabled {
    background: $white;
    border-color: $white;
    color: $black;
    opacity: .5;
    pointer-events: none;
  }
}

%btn-secondary {
  @include hover-focus {
    background: $blue;
    color: $white;
  }

  background: $white;
  border-color: $blue;
  color: $blue;

  &:disabled {
    background: $white;
    border-color: $white;
    color: $black;
    opacity: .5;
    pointer-events: none;
  }
}

.btn-primary {
  @extend %btn-primary;
}

.btn-secondary {
  @extend %btn-secondary;
}

#sftExt-frontend-button {
  bottom: auto !important;
  font-family: $headings-font-family;
  font-size: 14px;
  font-weight: bold;
  left: auto !important;
  letter-spacing: 0.19px;
  line-height: 18px;
  padding: 1rem 1.5rem !important;
  right: 20px !important;
  top: 160px !important;

  .sftExt-inner {
    display: flex;
    flex-direction: row-reverse;

    > i {
      margin-left: 10px;
      margin-right: 0 !important;
    }
  }
}
