{#
/**
 * @file
 * Template for a button component.
 *
 * Available variables:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - outline: true | false
 * - wrapper: button, a, input
 * - attributes: Attributes array.
 * - content: That which is to be buttonized.
 */
#}
{% if content|render %}
  {% set wrapper = wrapper ?: 'button' %}
  {% set attributes = attributes ?: create_attribute() %}
  {% set outline_type = type == 'secondary' ? 'primary': 'secondary' %}
  {% set classes = [
    'btn',
    type ? 'btn-' ~ type,
    outline ? 'btn-outline-' ~ outline_type,
  ] %}

  {% if wrapper == 'input' %}
    <{{ wrapper }}{{ attributes.addClass(classes) }} />
  {% elseif wrapper == 'a' %}
    {# Add the button classes directly to the anchor tag. #}
    {# TODO: This is feeling pretty knotty. #}
    {# TODO: Role not working? #}
    {{ content|merge({'#options' : {
      'attributes' : {
        'class' : classes
      },
      'role' : 'button',
    }}) }}
  {% else %}
    <{{ wrapper }}{{ attributes.addClass(classes) }}>{{ content }}</{{ wrapper }}>
  {% endif %}
{% endif %}
