.field--field-tags {
  border: 1px solid $primary;
  border-top: 8px solid $primary;
  padding: 1.5rem;

  h2 {
    padding-bottom: .5rem;
  }

  h2,
  .field__label {
    color: $primary;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 1rem;
  }

  ul,
  .field__items {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    .main-nav-item {
      display: none;
      &.current_page_parent {
        display: flex;
      }
    }

    > .nav-item,
    .field__item {
      @include hover-focus {
        .topic-item {
          @include text-snakeline($color: $primary, $size: 1px);
        }
      }

      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      > a {
        @include hover-focus {
          > span {
            @include text-snakeline($color: $primary, $size: 1px);
          }
        }

        color: $primary;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        text-decoration: none;

        &.is-active > span {
          @include text-snakeline($color: $primary, $size: 1px);

          background-size: 100% 1px;
          text-decoration: none;
        }
      }
    }
  }
}

//Added because AddToAny's shortcode doesn't pull headings,
//also provides universal styling for share icons below right sidebar:
.share-container {
  color: $primary;
  margin-top: 1rem;
  p {
    font-size: 20px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }
}
