{% extends 'base.twig' %}

{% block content %}

<div class="layout layout--standard layout--no-media standard node node--type-listing-page node--view-mode-full">
  <div class="layout__row layout__row--top row">
    <div class="col bs-region bs-region--title-region layout__region layout__region--title-region">
      <h1 class="layout__heading heading page-title">
        <div class="field field--node-title bundle--type-listing-page">
          Upcoming Events
        </div>
      </h1>
    </div>
  </div>
  <div class="layout__row layout__row--middle row">
    <div class="col order-sm-first bs-region bs-region--main layout__region layout__region--main">
      <div class="views-element-container">
        <div class="view-events view-id-events view-display-id-events_list">
          <div class="row">
            <div class="col order-md-first view-rows">
              {# Start loop here #}
              {# <h2 class="heading">Month Here</h2> #}
              <div class="card-container card-deck set-width">
                {% for post in eventposts %}
                  {% if post.event_featured_image %}
                    <a href="{{post.link}}" class="card card--card-img-bg card--display-featured card-- card-img-bg node node--type-event node--view-mode-featured">
                      <div class="bs-region bs-region--card-image card-img-bg card-img">
                        <div class="field field--field-image bundle--type-event view-mode--featured">
                          {% set image = Image(post.meta('event_featured_image')) %}
                          <img src="{{ image.src }}" alt="{{ image.alt }}" class="img-fluid" />
                        </div>
                      </div>
                  {% else %}
                    <a href="{{ post.link }}" class="card card--card-img-bg card--display-featured card--no-media card-img-bg node node--type-event node--view-mode-featured">
                      <div class="bs-region bs-region--card-image card-img-bg card-img">
                      </div>
                    {% endif %}
                    <div class="bs-region bs-region--card-body card-body card-img-overlay">
                      <div class="bs-region bs-region--card-title card-title">
                        <div class="card__face">
                          <div class="card__eyebrow eyebrow">
                            <div class="field field--metadata field--date-start bundle--type-event view-mode--featured">
                              <time datetime="{{ post.event_date }}">{{ post.event_date|date("F j, Y") }}</time>
                            </div>
                          </div>
                          <h3 class="card__heading h4 heading">
                            <div class="field field--node-title bundle--type-event">
                              {{ post.title }}
                            </div>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </a>
                {% endfor %}
              </div>
              {# End loop here #}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
