{% extends "index.twig" %}

{% block content %}
    <h1 class="mt-7">Content tagged with: {{ title }}</h1>
		{% filter shortcodes %}
     [searchandfilter id="496"]
		 [searchandfilter id="496" show="results"]
      {% endfilter %}

		<div class="col-lg-8 offset-lg-2 mt-7 mb-7">
    {% for post in posts %}
		<a class="card card--card-img-left card--display-teaser card-- card-img-right node node--type-news-post node--view-mode-teaser mb-4" href="{{post.link}}">
			<div class="row align-items-top justify-content-center">
				<div class="col-sm-5 col-md-4 bs-region bs-region--card-image card-img-left">
					<div class="field field--field-image bundle--type-news-post view-mode--teaser">

							{% if post.news_featured_image %}
								<img src="{{ Image(post.meta('news_featured_image')).src }}" class="img-fluid">
							{% endif %}

					</div>
				</div>
				<div class="col-sm-7 col-md-8 bs-region bs-region--card-body card-body">
					<div class="bs-region bs-region--card-title card-title">
						<div class="card__face">
							<h2 class="card__heading h4 heading">
								<div class="field field--node-title bundle--type-news-post">

										{{post.title}}

								</div>
							</h2>
							<div class="card__mustache mustache">
								<div class="field field--node-post-date bundle--type-news-post">
									{{post.date}}
								</div>
							</div>
						</div>
					</div>
					<div class="field field--body bundle--type-news-post view-mode--teaser">
						{{post.news_excerpt}}
					</div>
				</div>
			</div>
		</a>
    {% endfor %}
	</div>

{% endblock %}
