{% extends 'base.twig' %}

{% block content %}

<div class="block block--mainpagecontent">
  <div class="layout layout--standard layout--no-media standard node node--type-listing-page node--view-mode-full">
    <div class="layout__row layout__row--top row">
      <div class="col bs-region bs-region--title-region layout__region layout__region--title-region">
        <h1 class="layout__heading heading page-title">
          <div class="field field--node-title bundle--type-listing-page">
            Updates
          </div>
        </h1>
      </div>
    </div>
		{% filter shortcodes %}
		[searchandfilter id="224"]
    {% endfilter %}
    <div class="layout__row layout__row--middle row">
      <div class="col order-sm-first bs-region bs-region--main layout__region layout__region--main">
        <div class="views-element-container">
          <div class="view-news view-id-news view-display-id-news_list">
            {% for post in is_featured_news %}
              <div class="row view-mode--featured">
                <div class="view-exposed-form--inner">
                  <div class="card card--card-img-right card--display-featured card-- card-img-right node node--type-news-post node--view-mode-featured">
                    <div class="row align-items-top justify-content-center">
                      <div class="col-sm-5 col-md-6 bs-region bs-region--card-image card-img-right">
                        <div class="field field--field-image bundle--type-news-post view-mode--featured">
                          <div class="field field--field-featured-tag">Featured</div>
                          <a href="{{post.link}}">
                            {% if post.news_featured_image %}
                              <img src="{{ Image(post.meta('news_featured_image')).src }}" />
                            {% endif %}
                          </a>
                        </div>
                      </div>
                      <div class="col-sm-7 col-md-6 bs-region bs-region--card-body card-body order-sm-last">
                        <div class="bs-region bs-region--card-title card-title">
                          <div class="card__face">
                            <h2 class="card__heading h4 heading">
                              <div class="field field--node-title bundle--type-news-post">
                                <a href="{{post.link}}" hreflang="en">
                                  {{post.title}}
                                </a>
                              </div>
                            </h2>
                            <div class="card__mustache mustache">
                              <div class="field field--node-post-date bundle--type-news-post">
                                {{post.date}}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="field field--body bundle--type-news-post view-mode--featured">
                          {{post.news_excerpt}}
                        </div>
                        <div class="band__cta d-flex flex-row flex-wrap justify-content-start mt-4">
                          <div class="cta--primary">
                            <a href="{{post.link}}" class="button btn btn-primary">
                                Read More
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="row view-mode--teaser">
              <div class="col-md-4 view-exposed-form">
                <div class="view-exposed-form--inner">
                  <div class="views-exposed-form bef-exposed-form">
                    <div class="card-header">
                      <legend class="m-0">
                        <span class="fieldset-legend">
                          Tags
                        </span>
                      </legend>
                    </div>
                    <div class="card-body fieldset-wrapper">
                      <div class="form-checkboxes" id="edit-field-tags-target-id">
                        <div class="form-checkboxes bef-nested">
                          <ul>
                            {% for post in categories %}
                              <li class="label"><a href="/tag/{{post.title}}">{{post.title}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col order-md-first view-rows">
              {% for post in posts %}
                <div class="">
                  <div class="card card--card-img-right card--display-teaser card-- card-img-right node node--type-news-post node--view-mode-teaser">
                    <div class="row align-items-top justify-content-center">
                      <div class="col-sm-5 col-md-4 bs-region bs-region--card-image card-img-right order-sm-last">
                        <div class="field field--field-image bundle--type-news-post view-mode--teaser">
                          <a href="{{post.link}}">
                            {% if post.news_featured_image %}
                              <img src="{{ Image(post.meta('news_featured_image')).src }}" />
                            {% endif %}
                          </a>
                        </div>
                      </div>
                      <div class="col-sm-7 col-md-8 bs-region bs-region--card-body card-body">
                        <div class="bs-region bs-region--card-title card-title">
                          <div class="card__face">
                            <h2 class="card__heading h4 heading">
                              <div class="field field--node-title bundle--type-news-post">
                                <a href="{{post.link}}" hreflang="en">
                                  {{post.title}}
                                </a>
                              </div>
                            </h2>
                            <div class="card__mustache mustache">
                              <div class="field field--node-post-date bundle--type-news-post">
                                {{post.date}}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="field field--body bundle--type-news-post view-mode--teaser">
                          {{post.news_excerpt}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if pagination.pages|first and pagination.pages|first.current != true %}
  <div class="pagination">
      <li class="first">
          <a href="{{ pagination.pages|first.link }}"><<<span class="sr-only">First page</span></a>
      </li>
  {% elseif pagination.pages %}
    <div class="pagination">
      <li class="first disabled">
          <a><<<span class="sr-only">First page</span></a>
      </li>
	{% if posts.pagination.prev %}
		<a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'visible'}}"><</a>
    {% else %}
      <a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'disabled'}}"><</a>
	{% endif %}
	<ul class="pages">
		{% for page in posts.pagination.pages %}
			<li>
				{% if page.link %}
					<a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
				{% else %}
					<span class="{{page.class}}">{{page.title}}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% if posts.pagination.next %}
		<a href="{{posts.pagination.next.link}}" class="next {{posts.pagination.next.link|length ? '' : 'visible'}}">></a>
    {% else %}
      <a href="{{posts.pagination.next.link}}" class="next {{posts.pagination.next.link|length ? '' : 'disabled'}}">></a>
	{% endif %}
  {% if pagination.pages|last and pagination.pages|last.current != true %}
      <li class="last">
          <a href="{{ pagination.pages|last.link }}"><span class="sr-only">Last page</span>>></a>
      </li>
    </div>
  {% else %}
      <li class="last disabled">
          <a><span class="sr-only">Last page</span>>></a>
      </li>
    </div>
  {% endif %}
{% endif %}

{% endblock %}
