{#
/**
 * @file
 * Template for bands.
 *
 * Available layout variables:
 * - wrapper: The HTML element to use to wrap this layout.
 * - attributes: The HTML attributes to use on the wrapper for this layout.
 * - content: The properties, fields, and regions for this layout.
 *
 * Region variables:
 * - band_inner
 *  -- band_header
 *  -- band_media
 *   --- band_media_inner
 *  -- band_content
 *   --- band_content_inner
 *  -- band_footer
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content for this region.
 *
 * - heading_display_class
 * - heading_class
 * - heading_utilities
 * - page_title
 * - button_outline
 * - utilities
 * - contained
 *
 */
#}
{% set type = content['#bundle'] ?: '' %}
{% set heading = content.field_pg_heading|render ? content.field_pg_heading %}
{% set heading_utilities = ['mb-5', 'display-3'] %}
{% set image = content.field_pg_image|render ? content.field_pg_image %}
{% set body = content.field_pg_body|render ? content.field_pg_body %}
{% set cta_primary = content.field_pg_cta.0|render ? content.field_pg_cta.0 %}
{% set cta_secondary = content.field_pg_cta.1|render ? content.field_pg_cta.1 %}
{% set cta_classes = ['d-flex', 'flex-row', 'justify-content-center', 'm-5'] %}

{% if type == 'billboard' %}
  {# TODO: Assign page_title == true if billboard is on the homepage (or first?) #}
  {% include 'wpsprout/03-organisms/band/billboard.twig' with {
    lead: body,
    heading_utilities : ['mb-5', 'display-2'],
  } %}
{% elseif type == 'menu_grid' %}
  {% include 'wpsprout/03-organisms/band/menu-grid.twig' %}
{% elseif type == 'content_grid' %}
  {% include 'wpsprout/03-organisms/band/content-grid.twig' %}
{% elseif type == 'body' %}
  {% include 'wpsprout/03-organisms/band/body.twig' %}
{% elseif type == 'story' %}
  {% include 'wpsprout/03-organisms/band/story.twig' with {
    cta_classes : ['d-flex', 'flex-row', 'flex-wrap', 'justify-content-start', 'mt-4'],
  } %}
{% elseif type == 'signpost_grid' %}
  {% include 'wpsprout/03-organisms/band/signpost-grid.twig' with {
    signposts: content.field_pg_signposts|render ? [
      content.field_pg_signposts.0,
      content.field_pg_signposts.1,
      content.field_pg_signposts.2,
    ],
  } %}
{% elseif type == 'testimonial' %}
  {% include 'wpsprout/03-organisms/band/testimonial.twig' %}
{% else %}
  {% include 'wpsprout/03-organisms/band/band.twig' %}
{% endif %}
