{#
/**
 * @file
 * Template for card layout.
 */
#}

{% if content %}
  {% set type = content['#bundle'] ?: '' %}
{% endif %}

{% if type == 'signpost' %}
  {# signpost.twig calls card.twig in turn, but does some fussin' first. #}
  {% include 'wpsprout/03-organisms/band/signpost.twig' %}
{% else %}
  {% include 'wpsprout/03-organisms/card/card.twig' %}
{% endif %}
