{#
/**
 * @file
 * Template for sprout standard.
 *
 * Available variables:
 * - content
 * - attributes
 * - wrapper
 *
 *  Regions:
 *  each region contains a 'wrapper', 'attributes', and 'content' variable editable with Display Suite.
 *  - top
 *    - top_first
 *    - eyebrow
 *    - title_region
 *    - mustache
 *    - top_second
 *  - middle
 *    - sidebar_first
 *    - main
 *   - sibebar_second
 *  - bottom
 *    - bottom_first
 *    - bottom_second
 */
#}
{% extends 'wpsprout/04-layouts/page-content/standard.twig' %}
